#container {
    padding: 20px;

}

#story-frame {
    width:100%;
    height:calc(100% - 70px)

}

/* Three columns side by side */
.column {
  float: left;
  width: 31%;
  margin-bottom: 16px;
  padding: 0 8px;

}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
  #resource-box {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container-advisory {
  padding: 0 16px;
  padding-top: 5px;
  min-height: 200px;
}

/* Some left and right padding inside the container */
.container-core {
  padding: 0 16px;
  padding-top: 5px;
  min-height: 200px;
}

/* Clear floats */
.container-advisory::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


/* Clear floats */
.container-core::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

#sub-title{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #2b2b2b;
  font-size: 30px;
  text-align: center;

  @media screen and (min-width: 1024px) {
        font-size: 40px;
    }
}

#heading-text {
    font-family: 'Lato', sans-serif;
    color: #2b2b2b;
    margin: 0;
    padding: 1em;
    text-align: center;
}

#sub-heading{
  font-family: 'Lato', sans-serif;
  color: #2b2b2b;
  font-size: 25px;
  text-align: center;

  @media screen and (min-width: 1024px) {
        font-size: 30px;
    }
}

#body-text {
    font-family: 'Lato', sans-serif;
    color: #2b2b2b;
    margin: 0;
    padding-top: 1em;
}


.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

#resource-box {
    border: 1px;  
    width:200px;
}

#resource_thumbnail {
    height: 200px; 
    width: 200px;
    object-fit: contain;
    object-position: 0% 50%;
}

#footer {
    height:40px;

    @media screen and (min-width: 1024px) {
        height:80px;
    }
}
