<div class='content' style='background-color: white;'>
    <app-navbar [shows_title]='true'></app-navbar>
    <div id='container' style="margin-top:15px;margin-left:16px;height:400px;">
        <div class='mat-headline' style='margin-top:30px;'>Our Team</div>
        <div id = 'body-text'>
          <div class="row">
            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Ben Fine</h2>
                  <p class="title">Clinical</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Valerie Mais</h2>
                  <p class="title">Design</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Farbod Abolhassani</h2>
                  <p class="title">Website & Data Engineering</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Amna Liaqat</h2>
                  <p class="title">Website</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Andrew Lee</h2>
                  <p class="title">Website</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Ali Vahit Esensoy</h2>
                  <p class="title">Analytics</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Sri Gowrishankar</h2>
                  <p class="title">Data Engineering</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>David Madras</h2>
                  <p class="title">Data Engineering</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Petr Smirnov</h2>
                  <p class="title">Data Engineering</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Liam McCoy</h2>
                  <p class="title">Interventions</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="card">
                <div class="container">
                  <h2>Vinyas Harish</h2>
                  <p class="title">Interventions</p>
                  <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                  <p>example@example.com</p>
                </div>
              </div>
            </div>

          </div>
        </div>
    </div>
</div>
