<app-navbar [shows_title]='true' [page]='"team"'></app-navbar>
<div class='content team' style='background-color: white;'>
	<div id='container'>
		<div id='heading-text'>
			<h1 id='sub-title'>Our Team</h1>
			<p>Here is the amazing team of volunteers who make this project possible!</p>
		</div>

		<hr>

		<div *ngIf="teamForm" style="height: 450px">
			<div style="display: flex; background-color: #205D86;">
				<div style="color: #ffffff; margin-left: 15px; padding: 15px 0">Our People</div>
			</div>
			<div style="display: flex">
				<div style="height: 400px; width: 325px; border: 1px solid #205D86; margin-right: 20px">
					<form [formGroup]="teamForm" style="padding-top: 20px; margin: 0 15px">
						<div *ngFor="let choice of teamChoices; index as index" (click)="toggleSelect(choice)">
							<div *ngIf="choice !== 'All' && choice !== 'Contributors'" class="choices-styling"
								[ngClass]="{'selected-color': teamForm.controls[choice].value}">
								<div class="choices-text">{{choice+'s'}}</div>
								<div class="choices-count">
									{{teamChoicesCount[index]}}</div>
							</div>
							<div *ngIf="choice === 'All' || choice === 'Contributors'" class="choices-styling"
								[ngClass]="{'selected-color': teamForm.controls[choice].value}">
								<div class="choices-text">{{choice}}</div>
								<div class="choices-count">
									{{teamChoicesCount[index]}}</div>
							</div>
						</div>
					</form>
				</div>
				<div style="width: 100%;">
					<div
						style="margin-top: 20px; padding-bottom: 10px; display: flex; width: 100%; max-height: 370px; overflow-y: auto; flex-wrap: wrap; flex: 1">
						<div *ngFor="let card of jsonObj; index as index" style="width: 31%; padding-bottom: 20px; margin-right: auto"
							[style.display]="teamForm.controls[card.team_status].value || teamForm.controls['All'].value ? 'flex' : 'none'">
							<div *ngIf="card.team_status !== 'Advisor'" style="width: 100%">
								<div class="card"
									*ngIf="teamForm.controls[card.team_status].value || teamForm.controls['All'].value">
									<div class="container-core">
										<h2 *ngIf="card.title !== 'NaN'" style="display: flex">{{card.title}}
											{{card.first_name}}
											{{card.last_name}}
										</h2>
										<h2 *ngIf="card.title === 'NaN'" style="display: flex">
											{{card.first_name}}
											{{card.last_name}}
										</h2>
										<p *ngIf="card.education !== 'NaN'" class="title">{{card.education}}</p>
										<p *ngIf="card.role !== 'NaN'">{{card.role}}</p>
										<p *ngIf="card.affiliation !== 'NaN'">{{card.affiliation}}</p>
										<p></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<h3>Supporters</h3>
		<div id='body-text' class='row'>
			<div id='supporters-set'>
				<div id='resource-box'>
					<div id='resource_thumbnail'>
						<a target="_blank" href='https://trilliumhealthpartners.ca'>
							<img id='resource_thumbnail' src='assets/img/team_supporters/thp.png'>
						</a>
					</div>
				</div>

				<div id='resource-box'>
					<div id='resource_thumbnail'>
						<a target="_blank" href='https://vectorinstitute.ai'>
							<img id='resource_thumbnail' src='assets/img/team_supporters/vector.png'>
						</a>
					</div>
				</div>

				<div id='resource-box'>
					<div id='resource_thumbnail'>
						<a target="_blank" href='https://www.klick.com/'>
							<img id='resource_thumbnail' src='assets/img/team_supporters/klick.png'>
						</a>
					</div>
				</div>
			</div>

			<div id='supporters-set'>

				<div id='resource-box'>
					<div id='resource_thumbnail'>
						<a target="_blank" href='http://taglab.utoronto.ca'>
							<img id='resource_thumbnail' src='assets/img/team_supporters/taglab.jpg'>
						</a>
					</div>
				</div>

				<div id='resource-box'>
					<div id='resource_thumbnail'>
						<a target="_blank" href='http://ontario.himsschapter.org/'>
							<img id='resource_thumbnail' src='assets/img/team_supporters/himss_logo.png'>
						</a>
					</div>
				</div>

				<div id='resource-box-landscape'>
					<div id='resource_thumbnail_landscape'>
						<a target="_blank" href='https://pophealthanalytics.com'>
							<img id='resource_thumbnail_landscape' src='assets/img/team_supporters/pophealth.png'>
						</a>
					</div>
				</div>

			</div>

		</div>
	</div>

	<div id='footer'></div>

</div>