#story-frame {
    width:100%;
    height:calc(100% - 70px)

}

/* Three columns side by side */
.column {
  float: left;
  width: 31%;
  margin-bottom: 16px;
  padding: 0 8px;

}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
    padding: 0;
  }
  #resource-box {
    width: 100%;
    display: block;
  }
  #supporters-set {
    width: 100%;
    display: block;
  }

  #resource-box-landscape {
    width: 50%;
    display: block;
  }

  #resource_thumbnail_landscape {
    width: 50%;
    display: block;
  }
}

.heading-title {
  color: #391F85;
  font-size: 48px;
  line-height: 48px;
  margin-top: 30px;
}

.heading-text-container {
  padding-top: 25px;
}

.left-container {
  width: 50%;
  font-size: 26px;
  line-height: 48px;
  color: #2B2B2B;
}

.middle-container {
  border-left: 2px solid #005E72;
  width: 5%;
}

.right-container {
  width: 40%;
  font-size: 18px;
  line-height: 27px;
  color: #2B2B2B;
}

.heading-text-container {
  display: flex;
  justify-content: space-between;
}

.get-involved-text {
  padding-top: 10px;
  color: #005E72;

  a {
    text-decoration: none;
    color: #391F85;
  }
}

.icon-section {
  padding-top: 75px;
}

.icon-header {
  font-size: 32px;
  line-height: 48px;
  color: #391F85;
  padding-bottom: 15px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.tooltip-icon {
  padding-right: 15px;
  height: 30px;
}

.right-text {
  padding-bottom: 10px;

  span {
    color: #391F85;
    font-size: 24px;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container-advisory {
  padding: 0 16px;
  padding-top: 5px;
  min-height: 200px;
}

/* Some left and right padding inside the container */
.container-core {
  padding: 0 16px;
  padding-top: 5px;
  min-height: 220px;
}

/* Clear floats */
.container-advisory::after, .row::after {
  content: "";
  clear: both;
  display: table;
}


/* Clear floats */
.container-core::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

h1, h3 {
  text-align:center;
}

#heading-text {
    text-align: center;
    padding:20px 0;
    h1 {
      font-size:45px;
      font-weight:400;
      font-family: 'Lato', sans-serif;
    }
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

#supporters-set{
  
  margin-left: auto ;
  margin-right: auto ;
}

#resource-box {
    border: 1px;  
    width:175px;
    padding: 10px
}

#resource_thumbnail {
    height: 150px; 
    width: 150px;
    object-fit: contain;
    object-position: 0% 50%;

}

#resource-box-landscape {
    border: 1px;  
    width:100%;
}

#resource_thumbnail_landscape {
    height: 150px;
    width: 100%;
    object-fit: contain;
    object-position: 0% 50%;
}

.grid-landscape {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;

}

.grid > div > a {
  padding: 1rem;
  display: grid;
}

.grid > div > a::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}

.grid > div > a::before,
.grid > div > a >  img {
  grid-area: 1 / 1 / 2 / 2;
}

.grid > div > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.choices-styling {
  display: flex;
  padding-bottom: 20px;
}

.choices-styling:hover {
  cursor: pointer;
}

.choices-count {
  margin-left: auto;
  padding: 0 5px;
  border: 1px solid #666666;
  border-radius: 8px;
  color: #666666;
}

.card-title {
  font-size: 20px;
  color: #005E72;
}

.team-tooltip {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  color: #F0C03E;
}

.team-tooltip:hover {
  cursor: pointer;
}

.desktop-pop {
  border-radius: 15px;
  opacity: 0.98;
  width: 700px;
  position: absolute;
  margin-left: 160px;
  margin-top: -40px;
  background-color: #391F85;
  padding: 20px;
  z-index: 10;
}

.pop-text-container {
  padding-bottom: 20px;
  display: flex;
}

.pop-text-title {
  color: #ffffff;
  font-size: 20px;
}

.pop-text {
  color: #ffffff;
  padding-left: 15px;
}

.linkedin-toggle {
  padding: 0;
  min-width: 0 !important;

  .linkedin-icon {
    height: 30px;
  }
}

::ng-deep {
  .selected-color {
    .choices-text {
      color: #005E72;
      font-weight: bold;
    }
    .choices-count {
      color: #005E72;
      border-color: #005E72;
      font-weight: bold;
    }
  }
}

.card-container-styling {
  width: 31%;
  padding-right: 10px;
}

.team-box {
  margin-top: 20px;
  padding-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-height: 470px;
  overflow-y: auto;
  flex-wrap: wrap;
  flex: 1;
}

.mobile-sizing {
  .team-tooltip {
    align-items: initial;
    color: #391F85;
  }

  .choices-count {
    border-color: #ffffff;
    color: #ffffff;
    margin-left: 10px;
  }

  .container-core{
    text-align: center;
    padding-top: 20px;
  }

  .heading-text-container {
    flex-wrap: wrap;
    padding-top: 15px;
  }

  .left-container {
    width: 100%;
    font-size: 22px;
    line-height: 40px;
  }

  .middle-container {
    width: 100%;
    border-left: none;
    border-top: 2px solid #005E72;
    margin: 20px -10px;
  }

  .right-container {
    width: 100%;
  }

  .heading-title {
    font-size: 35px;
    margin-top: 20px;
  }

  .icon-header {
    text-align: center;
  }

  .icon-section {
    padding-top: 40px;
  }

  .icon-category {
    margin-left: auto;
  }

  .linkedin-toggle {
    margin-right: auto;
  }
  
  .card-title {
    display: inline-block;
    text-align: center;
  }

  .form-container {
    background-color: #DADFE1;
    border-radius: 6px;
    margin: 20px -30px 20px -30px;
  }

  .form-styling {
    padding: 0;

    .inner-form-styling {
        display: flex;
        flex-wrap: wrap;
        margin: 0 15px;
        padding: 9px 0;
        justify-content: space-between;
    }
  }

  .checkbox-styling {
    margin: 10px 0 10px 0;
    border-radius: 6px;
    background-color: #245D70;
    color: #ffffff;
    padding: 6px 6px;
    width: 44%
  }

  .form-header {
    padding: 10px 15px 0 15px;
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 24px;
  }
  
  .advisor-header {
    padding: 20px;
    width: 50%;
    text-align: center;
    margin: auto;
    font-size: 24px;
  }
  

  ::ng-deep {
    .mat-checkbox-inner-container {
        margin-right: 5px !important;
    }

    .mat-checkbox-layout .mat-checkbox-label {
        font-size: 12px !important;
        font-weight: normal;
        margin-left: 10px;
    }

    .mat-dialog-content {
        max-height: initial !important;
    }

    .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
      background-color: #ffffff !important;
    }
  
    .mat-checkbox-frame {
      border-color: #ffffff;
    }
  
    .mat-checkbox-checkmark-path {
      stroke: #391F85 !important;
    }
  }
}

 /* Each item in the grid contains numbers */
  .item {
  /* Center the contents of the grid items. Making each grid item a Flex Container */
  display: flex;
 
  /* Horizontal and Vertical centering */
  justify-content: center;
  align-items: center;
  border: 5px solid #87b5ff;
  border-radius: 3px;
  font-size: 2em;
  font-family: sans-serif;
  font-weight: bold;
  background-color: #1c57b5
  }

* {
      box-sizing: border-box;
}

.grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;
  }

.item5 {
      grid-column: span 2;
  }

  .item6 {
      grid-column: span 2;
  }

