<app-navbar [shows_title]='true' [page]='"analysis"'></app-navbar>
<div class='content' style='background-color: white; margin-top: 50px;'>
    <div id='container' [ngClass]="{'mobile-sizing': !is_full}">
        <div [ngClass]="{'analysis-header': !is_full}">
            <!-- <div [ngClass]="{'inner-analysis-header': !is_full}">
                <h1>Ontario-specific COVID-19 Analysis</h1>
                <div>

                    This page highlights analyses that provide further Ontario-specific insights as we monitor
                    performance
                    to
                    flatten the curve. The following dashboard overviews the key insights for Ontario. Select an
                    analysis
                    below
                    the dashboard for an in-depth exploration.<br><br><br>
                </div>
            </div> -->
        </div>
        <!-- <div class="form-container kpi-header" [ngClass]="{'mobile-kpi-styling': !is_full}">
            <div class="kpi-title purple-font" [ngClass]="{'center-text': !is_full}">Ontario at-a-Glance</div>
            <div class="kpi-line" *ngIf='is_full'></div>
        </div> -->
        <!-- <div id="kpiContainer" [ngClass]="{'mobile-sizing': !is_full}"></div> -->
        <div [ngClass]="{'modal-opened': selectedCategory !== ''}">
            <!-- <div class="form-container">
                <form *ngIf="filteringCheckboxes" [formGroup]="filteringCheckboxes" class="form-styling">
                    <div style="display: flex;">
                        <div *ngFor="let category of gridList">
                            <div *ngFor="let item of category | keyvalue"
                                style="margin-right: 25px; border-radius: 6px; background-color: #245D70; color: #ffffff; padding: 6px 12px">
                                <mat-checkbox formControlName="{{item.key}}">{{item.key}}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </form>
            </div> -->
            <div *ngIf="dropdownList" style="padding-top: 10px">
                <form [formGroup]="dropdownList">
                    <mat-form-field [style.width]="is_full ? '350px' : '100%'">
                        <mat-label>Select a PHU</mat-label>
                        <mat-select formControlName="phu" disableOptionCentering
                            (selectionChange)="routeonSelection(dropdownList.controls.phu.value)">
                            <ngx-mat-select-search formControlName="searchCtrl" [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>
                            <mat-option
                                *ngFor="let phu of phuArray |stringFilterBy:dropdownList.controls.searchCtrl.value:'phu'"
                                [value]="phu.value">
                                {{phu.phu}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </div>
            <div *ngIf="dropdownList && is_full" style="padding-top: 30px; font-size: 24px; padding-bottom: 30px; text-align: center">
                {{headerLabel}}
            </div>
            <!-- <div *ngIf="filteringCheckboxes && dropdownList"> -->
            <div *ngIf="dropdownList">
                <div *ngFor="let category of gridList">
                    <div *ngFor="let item of category | keyvalue">
                        <div *ngIf="category !== 'home' && category !== 'kpi-dash'">
                            <!-- <div *ngIf="filteringCheckboxes.controls[item.key].value"> -->
                            <div *ngFor="let phu of item.value | keyvalue">
                                <div *ngFor="let phuGroup of phu.value | keyvalue">
                                    <div *ngIf="phuGroup.key === dropdownList.controls.phu.value">
                                        <div style="display: flex; padding-top: 20px">
                                            <!-- <div class="purple-font" *ngIf="item.key !== 'Critical'"
                                        style="line-height: 30px; min-width: 200px; font-size: 20px;">
                                        {{category+' Analysis'}}
                                    </div>
                                    <div class="purple-font" *ngIf="item.key === 'Critical'"
                                        style="line-height: 30px; min-width: 200px; font-size: 20px;">
                                        {{category+' Analysis'}}
                                    </div>
                                    <div
                                        style="line-height: 30px; border-top: 2px solid black; width: 100%; margin-top: 15px;">
                                    </div>-->
                                        </div>
                                        <div [ngClass]="{'mobile-grid-row' : !is_full, 'desktop-grid-row': is_full}"
                                            style="display: grid; grid-template-columns: repeat(12, 1fr); row-gap: 16px;"
                                            [style.height]="is_full ? '150vh' : '290vh'"
                                            [style.margin-left]="is_full ? '10px' : '0'">
                                            <div *ngFor="let phuPlot of phuGroup.value; index as index"
                                                style="height: 100%;"
                                                [style.grid-column]="is_full ? phuPlot.column : 'span 12'"
                                                [style.grid-row]="is_full ? phuPlot.row : 'span 1'"
                                                [style.padding]="is_full ? '10px' : 'initial'">
                                                <div style="height: 100%">
                                                    <app-plot *ngIf="this.phuPlot" [graph_data]="phuPlot.html">
                                                    </app-plot>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>