<app-navbar [shows_title]='true' [page]='"dashboard"'></app-navbar>
<div class='content' style='background-color: white; margin-top: 50px;'>

    <div id='container' [ngClass]="{'mobile-sizing': !is_full}">
        <div [ngClass]="{'analysis-header': !is_full}">
            <!-- <div [ngClass]="{'inner-analysis-header': !is_full}">
                <h1>Ontario-specific COVID-19 Analysis</h1>
                <div>

                    This page highlights analyses that provide further Ontario-specific insights as we monitor
                    performance
                    to
                    flatten the curve. The following dashboard overviews the key insights for Ontario. Select an
                    analysis
                    below
                    the dashboard for an in-depth exploration.<br><br><br>
                </div>
            </div> -->
        </div>
        <!-- <div class="form-container kpi-header" [ngClass]="{'mobile-kpi-styling': !is_full}">
            <div class="kpi-title purple-font" [ngClass]="{'center-text': !is_full}">Ontario at-a-Glance</div>
            <div class="kpi-line" *ngIf='is_full'></div>
        </div> -->
        <!-- <div id="kpiContainer" [ngClass]="{'mobile-sizing': !is_full}"></div> -->
        <div [ngClass]="{'modal-opened': selectedCategory !== ''}">
            <!-- <div class="form-container">
                <form *ngIf="filteringCheckboxes" [formGroup]="filteringCheckboxes" class="form-styling">
                    <div style="display: flex;">
                        <div *ngFor="let category of gridList">
                            <div *ngFor="let item of category | keyvalue"
                                style="margin-right: 25px; border-radius: 6px; background-color: #245D70; color: #ffffff; padding: 6px 12px">
                                <mat-checkbox formControlName="{{item.key}}">{{item.key}}
                                </mat-checkbox>
                            </div>
                        </div>
                    </div>
                </form>
            </div> -->
            <div>
                <mat-progress-spinner mode="indeterminate" diameter="50" style="margin: 0 auto;" *ngIf="cases">
                </mat-progress-spinner>
            </div>
            <div *ngIf="dropdownList" style="padding-top: 5px; ">
                <form [formGroup]="dropdownList">
                    <mat-form-field [style.width]="is_full ? '350px' : '100%'">
                        <mat-label>Select a Public Health Unit</mat-label>
                        <mat-select formControlName="phu" disableOptionCentering
                            (selectionChange)="routeonSelection(dropdownList.controls.phu.value)">
                            <ngx-mat-select-search formControlName="searchCtrl" [placeholderLabel]="'Search...'"
                                [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>
                            <mat-option
                                *ngFor="let phu of phuArray |stringFilterBy:dropdownList.controls.searchCtrl.value:'phu'"
                                [value]="phu.value">
                                {{phu.phu}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <div *ngIf="dropdownList && is_full" class="selected-header-styling">
                    {{headerLabel}}
                </div>

                <!-- <mat-label><a target="_blank" href="https://www.phdapps.health.gov.on.ca/PHULocator/">Select a Public Health Unit</a> </mat-label> -->
            </div>
            <!-- <div *ngIf="filteringCheckboxes && dropdownList"> -->
            <div *ngIf="averageForm">
                <form [formGroup]="averageForm">
                    <div *ngIf="dropdownList">
                        <div *ngFor="let category of gridList">
                            <div *ngFor="let item of category | keyvalue">
                                <div *ngIf="category !== 'home' && category !== 'kpi-dash'">
                                    <!-- <div *ngIf="filteringCheckboxes.controls[item.key].value"> -->
                                    <div *ngFor="let phu of item.value | keyvalue">
                                        <div *ngIf="phu.key === dropdownList.controls.phu.value">
                                            <div [ngClass]="{'mobile-grid-row' : (!is_full && phu.key !== 'ontario'), 'mobile-grid-row-ontario': (!is_full && phu.key === 'ontario'), 'desktop-grid-row': is_full && phu.key !== 'ontario', 'desktop-grid-row-ontario': is_full && phu.key === 'ontario'}"
                                                style="display: grid; grid-template-columns: repeat(12, 1fr); column-gap: 8px; grid-template-rows: repeat(6, 1fr);"
                                                [style.height]="is_full ? (phu.key === 'ontario'? '80vh': '110vh') : (phu.key === 'ontario'? '550vh': '300vh')"
                                                [style.margin-left]="is_full ? '10px' : '0'"
                                                [style.min-height]="(is_full ? (phu.key === 'ontario' ? '800px': '800px') : 'initial')"
                                                [style.row-gap]="is_full ? '24px' : '30px'">
                                                <div *ngFor="let phuGroup of phu.value; index as index"
                                                    class="plot-container"
                                                    [style.grid-column]="is_full ? (phuGroup[0].group === 'map' ? 'span 6' : 'span 3') : 'span 12'"
                                                    [style.grid-row]="is_full ? (phuGroup[0].group === 'map' ? 'span 6' : 'span 3') : 'span 1'"
                                                    [style.padding]="is_full ? '10px' : 'initial'">
                                                    <div *ngFor="let phuPlot of phuGroup | keyvalue"
                                                        [style.height]="averageForm.controls[phuPlot.value.phu + '' + phuPlot.value.group + '' + phuPlot.value.header].value ? '100%' : '0'">
                                                        <div *ngIf="averageForm.controls[phuPlot.value.phu + '' + phuPlot.value.group + '' + phuPlot.value.header].value"
                                                            style="height: 100%">
                                                            <div style="height: 100%">
                                                                <div [style.height]="(is_full ? '35px' : '35px')"
                                                                    class="dashboard-tile" [style.display]=" (phuGroup[0].group==='map'
                                                                    ? 'none' : 'block' )">
                                                                    <div>
                                                                        <div class="upper-tab-container">
                                                                            <div style="display: flex"
                                                                                *ngIf="averageForm.controls[phuPlot.value.phu + '' +phuPlot.value.header + 'view'].value === 'none'"
                                                                                (mouseover)="toggleHover(phuPlot.value.phu+ '' +phuPlot.value.header+ is_full+ 'true')"
                                                                                (mouseout)="toggleHover(phuPlot.value.phu+ '' +phuPlot.value.header+ is_full+ 'false')">
                                                                                <mat-icon
                                                                                    (click)="openDialog(phuPlot.value.viz_title, 'plot', phuPlot.value.html, phuPlot.value.text_top, phuPlot.value.text_bottom, 500)"
                                                                                    aria-hidden="false"
                                                                                    aria-label="Example thumbs up SVG icon"
                                                                                    class="info-icon-styling-first-row">
                                                                                    info
                                                                                </mat-icon>
                                                                                <div class="tooltip-text-first-row"
                                                                                    [style.display]="(iconHover === phuPlot.value.phu+ '' +phuPlot.value.header+ '' +true + '' + 'true' ? 'flex': 'none')">
                                                                                    See details
                                                                                </div>
                                                                            </div>
                                                                            <div *ngIf="averageForm.controls[phuPlot.value.phu + '' +phuPlot.value.header + 'view'].value !== 'none'"
                                                                                class="tab-styling"
                                                                                [ngClass]="{'tab-selected': averageForm.controls[phuPlot.value.phu + '' + phuPlot.value.header + 'view'].value === 'allTime'}"
                                                                                (click)="averageForm.controls[phuPlot.value.phu + '' + phuPlot.value.header + 'view'].setValue('allTime')">
                                                                                All Time</div>
                                                                            <div *ngIf="averageForm.controls[phuPlot.value.phu + '' +phuPlot.value.header + 'view'].value !== 'none'"
                                                                                class="tab-styling"
                                                                                [ngClass]="{'tab-selected': averageForm.controls[phuPlot.value.phu + '' + phuPlot.value.header + 'view'].value === 'week'}"
                                                                                (click)="averageForm.controls[phuPlot.value.phu + '' + phuPlot.value.header + 'view'].setValue('week')">
                                                                                Prior Week</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div style="height: 45px"
                                                                    [style.display]="(phuGroup[0].group === 'map' ? 'none': 'flex')">
                                                                    <div style="display: flex"
                                                                        *ngIf="averageForm.controls[phuPlot.value.phu + '' +phuPlot.value.header + 'view'].value !== 'none'"
                                                                        (mouseover)="toggleHover(phuPlot.value.phu+ '' +phuPlot.value.header+ is_full+ 'true')"
                                                                        (mouseout)="toggleHover(phuPlot.value.phu+ '' +phuPlot.value.header+ is_full+ 'false')">
                                                                        <mat-icon
                                                                            (click)="openDialog(phuPlot.value.viz_title, 'plot', phuPlot.value.html, phuPlot.value.text_top, phuPlot.value.text_bottom, 500)"
                                                                            aria-hidden="false"
                                                                            aria-label="Example thumbs up SVG icon"
                                                                            class="info-icon-styling-second-row">
                                                                            info
                                                                        </mat-icon>
                                                                        <div class="tooltip-text-second-row"
                                                                            [style.display]="(iconHover === phuPlot.value.phu+ '' +phuPlot.value.header+ '' +true +'' + 'true' ? 'flex': 'none')">
                                                                            See details
                                                                        </div>
                                                                    </div>
                                                                    <div class="plot-check"
                                                                        *ngIf="averageForm.controls[phuPlot.value.phu + '' +phuPlot.value.header + 'average'].value !== 'none'">
                                                                        <div
                                                                            style="height: 20px; margin-right: 25px; border-radius: 6px; background-color: #245D70; color: #ffffff; padding: 6px 12px">
                                                                            <mat-checkbox
                                                                                [formControlName]="phuPlot.value.phu + '' +phuPlot.value.header + 'average'">
                                                                                7 Day Avg.
                                                                            </mat-checkbox>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <app-plot class="plot-styling"
                                                                    *ngIf="phuGroup[0].group !== 'map'"
                                                                    [ngClass]="{'map-selector': phuGroup[0].group === 'map'}"
                                                                    [graph_data]="phuPlot.value.html"
                                                                    [mobile_size]="!is_full" [analysis]="false"
                                                                    [display_average]="averageForm.controls[phuPlot.value.phu + '' +phuPlot.value.header + 'average'].value"
                                                                    [font_size_category]="plot_window"
                                                                    [cat]="phuPlot.value.phu+ '' +phuPlot.value.header"
                                                                    [view]="averageForm.controls[phuPlot.value.phu + '' +phuPlot.value.header + 'view'].value">
                                                                </app-plot>
                                                                <div *ngIf="phuGroup[0].group === 'map' && is_full"
                                                                    style="display: flex; height: 25px; position: relative">
                                                                    <div
                                                                        style="color: #ffffff; font-size: 18px; margin-top: -2px">
                                                                        COVID-19 Cases Summary - Days Since Last Known
                                                                        Case (Beta)</div>
                                                                    <mat-icon
                                                                        (click)="openDialog('COVID-19 Cases Summary - Days Since Last Known Case (Beta)', 'Map', phuPlot.value.html, 'NaN', 'NaN', 500)"
                                                                        class="map-toggle" (mouseover)="toggleMap(true)"
                                                                        (mouseout)="toggleMap(false)">fullscreen
                                                                    </mat-icon>
                                                                    <div class="map-tooltip"
                                                                        [style.display]="(mapHover? 'flex': 'none')">
                                                                        Expand map
                                                                    </div>
                                                                </div>
                                                                <div *ngIf="phuGroup[0].group === 'map'"
                                                                    class="embed-container">
                                                                    <iframe
                                                                        [src]="phuPlot.value.html | sanitizeUrl"></iframe>
                                                                </div>
                                                                <div *ngFor="let phuTab of tab_obj | keyvalue"
                                                                    [style.display]="(phuGroup[0].group === 'map' ? 'none': 'initial')">
                                                                    <div *ngIf="phuTab.key === phuPlot.value.phu">
                                                                        <div
                                                                            *ngFor="let phuTabGroup of phuTab.value | keyvalue">
                                                                            <div *ngIf="phuTabGroup.key === phuPlot.value.group"
                                                                                class="plot-tab-group"
                                                                                [style.display]="phuTabGroup.value.length === 1 ? 'none': 'flex'">
                                                                                <div
                                                                                    *ngFor="let phuTabHeader of phuTabGroup.value; index as index">
                                                                                    <div class="bottom-tab-styling"
                                                                                        [ngClass]="{'bottom-tab-selected': averageForm.controls[phuPlot.value.phu + '' + phuPlot.value.group + '' +phuTabHeader.header].value}"
                                                                                        (click)="changeTabs(phuPlot.value.phu + '' + phuPlot.value.group, phuTabGroup.value, phuTabHeader.header)">
                                                                                        {{phuTabHeader.tab}}</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer *ngIf="displayFooter"></app-footer>
