<app-navbar [shows_title]='true' [page]='"outreach"'></app-navbar>
<div [ngClass]="{'mobile-layout mobile-content-margin': !is_full}">
	<div class="banner-flex">
		<div style="background-color: #391F85; flex-grow: 1"></div>
		<div id="container-banner">
			<div class="inner-container-banner">
				<div class="outreach-text large-font">We need open collaboration</div>
				<div class="outreach-text medium-font">Collaborate. Fund.</div>
				<div class="outreach-text small-font">Data needs people to mobilize knowledge. Fast.</div>
				<div class="outreach-text small-font">How can you help?</div>
			</div>
		</div>
		<div style="background-color: #29555B; flex-grow: 1"></div>
	</div>
	<!-- cards -->

	<div class="content mobile-top-content">
		<h2> If we miss insights, we risk lives.</h2>
		<p> <span class="purple-label">#HowsMyFlattening</span> is an open collaboration initiative of data-savvy
			academia,
			industry and healthcare experts building a virtual war room of Ontario-relevant Covid-19 information. We are
			right now reactive by necessity. Ontario is producing critical data that is surging through fragmented
			channels
			with an inconsistency that sparks gaps and lags in decision making. Our crowd-sourced team of physicians,
			data scientists, engineers and designers are working hard to integrate information in an open-source way and
			are rapidly sharing in an easy-to-digest manner that speed up critical healthcare decision-making.</p>
	</div>

  <!-- cards -->
	<div class="linear-gradient content-container">
		<div class="content">
			<h2>Open Collaboration</h2>
			<p class="mobile-bottom-padding">Funds help our team of experts to produce on-the-fly visual analyses of
				evolving data from the field and
				empower other end users in the open source community.</p>

			<div class="card-row mobile-top">
				<img *ngIf="is_full" src="assets/img/collaborate/collaborator.png" class="left-img"
					alt="Collaborator. Image credit: pikisuperstar from Freepik " />
				<div class="card-1">
					<div class="mobile-card-margin">
						<img *ngIf="!is_full" src="assets/img/collaborate/collaborator.png" class="left-img"
							alt="Collaborator. Image credit: pikisuperstar from Freepik" />
						<div class="middle">
							<hr class="decor-line" />
							<h3>Collaborator</h3>
							<p>I want to analyse data, create visualizations, or help out in other ways.</p>
							<a href="https://gitlab.com/howsmyflattening/www-howsmyflattening-ca/-/wikis/home" class="button">Start Now</a>
						</div>
					</div>
				</div>
			</div>

			<div class="card-row mobile-middle">
				<div class="card-1">
					<img *ngIf="!is_full" src="assets/img/corporate.png" class="right-img"
						alt="Organization. Image credit: from Freepik" />
					<div class="middle">
						<hr class="decor-line" />
						<h3>Organization</h3>
						<p>My organization can collaborate with this mission.</p>
						<a href="mailto:info@howsmyflattening" class="button">Reach
							Out</a>
					</div>
				</div>
				<img *ngIf="is_full" src="assets/img/corporate.png" class="right-img"
					alt="Organization. Image credit: from Freepik" />
			</div>

			<div class="card-row mobile-bottom">
				<img *ngIf="is_full" src="assets/img/individual_donation.png" class="left-img"
					alt="individual donor. Image credit: from Freepik" />
				<div class="card-1">
					<div class="mobile-card-margin">
						<img *ngIf="!is_full" src="assets/img/individual_donation.png" class="left-img"
							alt="individual donor. Image credit: from Freepik" />
						<div class="middle">
							<hr class="decor-line" />
							<h3>Individual Donor</h3>
							<p>I can donate to this mission.</p>
							<a href="http://thcf.convio.net/site/TR?px=1274438&fr_id=1080&pg=personal" class="button">Learn
								More</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bottom-container">
		<div class="content inner-bottom-container">
			<div>
				<h2 class="white-font">Do you know someone who can help? </h2>
				<p class="white-font">To connect for corporate, media, and investment requests please contact: <a
						href="mailto: info@howsmyflattening.ca" class="yellow-label">info@howsmyflattening.ca</a></p>
			</div>
			<div>
				<p class="white-font">Share <span class="yellow-label">howsmyflattening.ca</span> with your network.</p>
			</div>
		</div>
	</div>
</div>