<app-navbar [shows_title]='true' [page]='"connect"'></app-navbar>
<div style="display: flex">
	<div style="background-color: #391F85; flex-grow: 1"></div>
	<div id="container-banner">
		<div class="inner-container-banner">
			<div class="outreach-text large-font">We need open collaboration</div>
			<div class="outreach-text medium-font">Collaborate. Fund.</div>
			<div class="outreach-text small-font">Data needs people to mobilize knowledge. Fast.</div>
			<div class="outreach-text small-font">How can you help?</div>
		</div>
	</div>
	<div style="background-color: #245D70; flex-grow: 1"></div>
</div>

<div class="content">
	<h2> If we miss insights, we risk lives.</h2>
	<p> <span class="purple-label">#HowsMyFlattening</span> is an open collaboration initiative of data-savvy academia,
		industry and healthcare experts building a virtual war room of Ontario-relevant Covid-19 information. We are
		right now reactive by necessity. Ontario is producing critical data that is surging through fragmented channels
		with an inconsistency that sparks gaps and lags in decision making. Our crowd-sourced team of physicians, data
		scientists, engineers and designers are working hard to integrate information in an open-source way and are
		rapidly sharing in easy-to-digest manner that speed up critical healthcare decision-making.</p>
</div>
<!-- cards -->

<div class="linear-gradient content-container">
	<div class="content">
		<h2>Open Collaboration</h2>
		<p>Funds help our team of experts to produce on-the-fly visual analyses of evolving data from the field and
			empower other end users in the open source community.</p>


		<div class="card-row">
			<img src="assets/img/corporate.png" class="left-img" />
			<div class="card-1">
				<div class="middle">
					<hr class="decor-line" />
					<h3>Organization</h3>
					<p>My organization can support this mission.</p>
					<a href="http://thcf.convio.net/site/TR?px=1274438&fr_id=1080&pg=personal" class="button">Learn
						More</a>
				</div>
			</div>
		</div>

		<div class="card-row">
			<div class="card-1">
				<div class="middle">
					<hr class="decor-line" />
					<h3>Individual Donor</h3>
					<p>I can donate to the mission.</p>
					<a href="http://thcf.convio.net/site/TR?px=1274438&fr_id=1080&pg=personal" class="button">Learn
						More</a>
				</div>
			</div>
			<img src="assets/img/individual_donation.png" class="right-img" />
		</div>

		<div class="card-row">
			<img src="assets/img/investment.png" class="left-img" />
			<div class="card-1">
				<div class="middle">
					<hr class="decor-line" />
					<h3>Investor</h3>
					<p>I want to support and grow with #HowsMyFlattening.</p>
					<a href="http://thcf.convio.net/site/TR?px=1274438&fr_id=1080&pg=personal" class="button">Learn
						More</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bottom-container">
	<div class="content inner-bottom-container">
		<div>
			<h2 class="white-font">You know someone who can help? </h2>
			<p class="white-font">To connect for corporate, media, and investment requests please contact: <a
					href="mailto: info@howsmyflattening.ca" class="yellow-label">info@howsmyflattening.ca</a></p>
		</div>
		<div>
			<p class="white-font">Share <span class="yellow-label">howsmylattening.ca</span> with your network.</p>
		</div>
	</div>
</div>