.container-padding {
    padding-top: 20px;
}

#column-main {
    flex-grow: 1;
}

#capacity-graph {
    width:100%;
}

#key-takeaway{
    font-family: 'Lato', sans-serif;
    color: #434343;
}

.modal-title {
    font-size: 20px;
}

.key-text {
    font-size: 14px;
}