<div class="container-padding">
    <div id='column-layout' mat-dialog-content>
        <div id='column-detail'>
            <div style="display: flex">
                <h3 class="modal-title">{{visualName}}</h3>
                <div class="collapse-text" *ngIf="toggleTextFlag" (click)="toggleText()">Collapse Description Below
                </div>
                <div class="collapse-text" style="padding-bottom: 20px" *ngIf="!toggleTextFlag" (click)="toggleText()">
                    Expand Description</div>
            </div>
            <div id='key-takeaway' class="key-text" *ngIf="toggleTextFlag">
                <div [innerHTML]="topText"></div>
            </div>
            <div *ngIf="type === 'Plotly'">
                <app-plot [analysis]="true" [graph_data]="vizUrl"></app-plot>
            </div>
            <div>
                <div #vizContainerMobile [ngClass]="{'tableau-styling' : type !== 'Plotly'}">
                </div>
            </div>
            <div style="padding-bottom: 20px">
                <div class="text-styling" style="padding-top: 20px;" *ngIf="bottomText !== 'NaN'"
                    [innerHTML]="bottomText"></div>
            </div>
        </div>
    </div>
</div>