.footer {
    width: 100%;
    background: #F0F2F5;
    height: 400px;
    text-align: center;
    padding: 30px 0 30px 0;
}

.twitter-container {
    margin: 0 50px 0 auto; 
    width: 40%; 
    height: 300px;
}