<mat-toolbar>
    <mat-toolbar-row>
        <div id='title' *ngIf='shows_title'>
            #HowsMyFlattening?
        </div>
        <div id='primary-nav' *ngIf='is_full'>
            <button id='main-nav-button' mat-button routerLink='/'>Home</button>
            <button id='main-nav-button' mat-button routerLink='/data'>Analysis</button>
            <button id='main-nav-button' mat-button routerLink='/resources'>Resources</button>
            <button id='main-nav-button' mat-button routerLink='/connect'>Join Us</button>
        </div>
        <div id='primary-nav' *ngIf='!is_full'>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button id='mobile-nav-button' mat-menu-item routerLink='/'>Home</button>
                <button id='mobile-nav-button' mat-menu-item routerLink='/data'>Analysis</button>
                <button id='mobile-nav-button' mat-menu-item routerLink='/resources'>Resources</button>
                <button id='mobile-nav-button' mat-menu-item routerLink='/connect'>Join Us</button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
