mat-toolbar {
    background-color: #DADFE1;
}

#main-nav-button {
    font-size: 23px;
}

#mobile-nav-button {
    text-align: center;
}

#primary-nav {
    width:100%;
    text-align: right;
}

#title{
  color: #205d86;
  font-size: 30px;
  font-weight: bold;
}
