mat-toolbar {
  background-color: #DADFE1;
}

.logo-styling-home {
  height: 55px;
  width: 55px;
  margin-top: 8px;
}

.desktop-nav mat-toolbar{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}

.nav-title {
  font-size: 30px;
  font-weight: bold;
  padding-left: 20px;
  color: #391F85;
}

.nav-title:hover {
  cursor: pointer;
  opacity: 0.8;
}

.nav-logo {
  padding-right: 10px;
}

.nav-logo:hover {
  cursor: pointer;
  opacity: 0.8;
}

#main-nav-button {
  font-size: 16px;

  &.selected {
    //background-color:#DADFE1;
    color: #245D70;
  }
}

.staggered-button {
  margin-top: 30px;
}


#mobile-nav-button {
  text-align: center;

  &.selected {
    background-color:#ddd;
  }
}

#primary-nav {
  text-align: right;
  display: flex;
  margin-left: auto;
}

#title{
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  color: #205d86;
  font-size: 30px;
  font-weight: bold;
}

::ng-deep {
  .mat-menu-panel.ng-trigger {
    position: absolute;
    right: 0;
  }

  .mat-toolbar-row {
    padding: 0 16px 0 32px !important;
  }
}

.mobile-nav {
  .nav-title {
      font-size: 20px;
  }

  ::ng-deep {
      .mat-toolbar-row, .mat-toolbar-single-row {
          padding: 0 !important;
          background-color: #ffffff;
      }

      .mobile-menu {
        color: #391F85 !important;
      }
  }
}