mat-toolbar {
  background-color: #DADFE1;
}

#main-nav-button {
  font-size: 20px;

  &.selected {
    background-color:#d1d6d8;
  }
}


#mobile-nav-button {
  text-align: center;

  &.selected {
    background-color:#ddd;
  }
}

#primary-nav {
  width:100%;
  text-align: right;
}

#title{
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  color: #205d86;
  font-size: 30px;
  font-weight: bold;
}
