<app-navbar [shows_title]='true' [page]='"data"'></app-navbar>
<div class='content' style='background-color: white;'>
    <div id='container'>
        <h1>Datasets</h1>
        <div>
            COVID-19 is changing the world rapidly. We need to move faster.<br><br>We present our growing data sources relevant to Ontario and comparisons in a single up to date Dataset.<br>
        </div>
        <hr>

    <!-- template for data entry 
    <div id='data-container'>
        <div id ='left-column'>
            <div id ="dataset-name">Dataset: test_data_on</div>
            <div id = 'source'><p>Source: Government of Ontario</p></div>
            <div id = 'description'><p>Time series testing data for the province of ontario which reports postives, negatives, under investigation, resolved, deaths and total tested.</p></div>
            
           

            <div id='read-more-container'>
               <a mat-raised-button href="https://www.ontario.ca/page/2019-novel-coronavirus" id='read-more-btn'>Download Data</a>
            </div>
            
        </div>

        <div id ='right-column'>
               
            <br><br>
            <div id = "details"> Details: </div>

            <div id = "details-body">
            <p class = 'details'>Data feedtype: Automatic</p>
            <p class = 'details'>Refresh rate: 190 minute interval</p>
            <p class = 'details'><a href = "https://www.ontario.ca/page/2019-novel-coronavirus">Source link</a></p>
            
            <br>
            <p class = 'details'>Contributor: David Madras</p>
            <p class = 'details'>Contact: N/A</p>
            </div>
        </div>

    </div>

    <hr> -->


    
    <div id='data-container'>
        <div id ='left-column'>
            <h2>Ontario Testing Data</h2>
            <div id = 'source'><p>Source: Government of Ontario</p></div>
            <div id = 'description'><p>Time series testing data for the province of ontario which reports postives, negatives, under investigation, resolved, deaths and total tested.</p></div>
            
            <div id='read-more-container'>
               <a mat-raised-button href="https://flatteningthecurve.herokuapp.com/data/covidtests" id='read-more-btn'>Download Data</a>
            </div>
            
        </div>

        <div id ='right-column'>
            <br><br>
            <div id = "details"> Details: </div>

            <div id = "details-body">
            <p class = 'details'>Data feedtype: Automatic</p>
            <p class = 'details'>Refresh rate: 190 minute interval</p>
            <p class = 'details'><a href = "https://www.ontario.ca/page/2019-novel-coronavirus">Source link</a></p>
            
            <br>
            <p class = 'details'>Contributor: David Madras</p>
            <p class = 'details'>Contact: madras@cs.toronto.edu</p>
            </div>
        </div>

    </div>


    <hr>

    <div id='data-container'>
        <div id ='left-column'>
            <h2>Canada Testing Data</h2>
            <div id = 'source'><p>Source: Government of Canada and News Media</p></div>
            <div id = 'description'><p>Patient level data of covid cases in canada. Compiled from publicly available information on confirmed and presumptive postive cases during the ongoing COVID-19 outbreak in Canada. Data are entered with each line representing a unique case, including age, sex, health region location, and history of travel where available.</p></div>
            
           

            <div id='read-more-container'>
               <a mat-raised-button href="https://flatteningthecurve.herokuapp.com/data/covid" id='read-more-btn'>Download Data</a>
            </div>
            
        </div>

        <div id ='right-column'>
               
            <br><br>
            <div id = "details"> Details: </div>

            <div id = "details-body">
            <p class = 'details'>Data feedtype: Manual</p>
            <p class = 'details'>Refresh rate: Once a day</p>
            <p class = 'details'><a href = "https://github.com/ishaberry/Covid19Canada">Source link</a></p>
            
            <br>
            <p class = 'details'>Contributor: COVID-19 Canada Open Data Working Group</p>
            <p class = 'details'>Contact: N/A</p>
            </div>
        </div>

    </div>

    <hr>

    <div id='data-container'>
        <div id ='left-column'>
            <h2>Ontario ICU Capacity</h2>
            <div id = 'source'><p>Source: Critical Care Services Ontario (CCSO)</p></div>
            <div id = 'description'><p>Time series data for ICU capacity and ventilators for the province of Ontario, alongwith number of suspected and confirmed covid patients using critical care resources broken down by LHIN, region and ICU level.</p></div>
            
           

            <div id='read-more-container'>
               <a mat-raised-button href="http://flatteningthecurve.herokuapp.com/data/icucapacity" id='read-more-btn'>Download Data</a>
            </div>
            
        </div>

        <div id ='right-column'>
               
            <br><br>
            <div id = "details"> Details: </div>

            <div id = "details-body">
            <p class = 'details'>Data feedtype: Automatic</p>
            <p class = 'details'>Refresh rate: Daily</p>
            <p class = 'details'>Source link: N/A</p>
            
            <br>
            <p class = 'details'>Contributor: James Hooks</p>
            <p class = 'details'>Contact: N/A</p>
            </div>
        </div>

    </div>

   
    <hr>

    <div id='data-container'>
        <div id ='left-column'>
            <h2>International Testing Data</h2>
            <div id = 'source'><p>Source: Johns Hopkins University Center for Systems Science and Engineering (JHU CSSE)</p></div>
            <div id = 'description'><p>Time series data on covid cases in select international jurisdictions.</p></div>
            
           

            <div id='read-more-container'>
               <a mat-raised-button href="https://flatteningthecurve.herokuapp.com/data/internationaldata" id='read-more-btn'>Download Data</a>
            </div>
            
        </div>

        <div id ='right-column'>
               
            <br><br>
            <div id = "details"> Details: </div>

            <div id = "details-body">
            <p class = 'details'>Data feedtype: Automatic</p>
            <p class = 'details'>Refresh rate: 190 minute interval</p>
            <p class = 'details'><a href = "https://github.com/CSSEGISandData/COVID-19">Source link</a></p>
            
            <br>
            <p class = 'details'>Contributor: N/A</p>
            <p class = 'details'>Contact: N/A</p>
            </div>
        </div>
    </div>
</div>
<div id='footer'></div>
</div>
