#container {
    color: #2B2B2B;
    padding:20px;
}

#column-layout {
    display:flex;
}

#column-detail {
    padding:20px;
    font-weight: bold;
    background-color: #DADFE1;
    @media screen and (min-width: 1024px) {
        flex-shrink: 0;
        width: 250px !important;
    }
}

.column-title{
  color: #205d86;
  font-size: 25px;
}

#column-main {
    flex-grow: 1;
}

#capacity-graph-row {
    display:flex;
}

#capacity-graph {
    width:50%;
    height:50%;
}

#footer {
    height:40px;

    @media screen and (min-width: 1024px) {
        height:80px;
    }
}
