<div class='content' style='background-color: white;'>
    <app-navbar [shows_title]='true'></app-navbar>
    <div id='container'>
        <div class='mat-display-1'>Ontario-specific COVID-19 data</div>
        <div>
            [PAGE DESCRIPTION]
        </div>
        <div>
            [ON THIS PAGE]
        </div>
        <!-- CAPACITY ANALYSIS -->
        <div id='column-layout' style='height: 300px;'>
            <div id='column-detail'>
                Capacity Analysis: Ontario
            </div>
            <div id='column-main'>
                <div id='capacity-graph-row'>
                    <div id='capacity-graph'>
                        <app-data-capacity-conservative-res-avail></app-data-capacity-conservative-res-avail>
                    </div>
                    <div id='capacity-graph'>
                        <app-data-capacity-conservative-waiting-res></app-data-capacity-conservative-waiting-res>
                    </div>
                </div>
                <div id='capacity-graph-row'>
                    <div id='capacity-graph'>
                        <app-data-capacity-italy-res-avail></app-data-capacity-italy-res-avail>
                    </div>
                    <div id='capacity-graph'>
                        <app-data-capacity-italy-waiting-res></app-data-capacity-italy-waiting-res>
                    </div>
                </div>
            </div>
        </div>
        <!-- TESTING ANALYSIS -->
        <div id='column-layout' style='height: 300px;'>
            <div id='column-detail'>
                Testing Analysis: Ontario
                <app-data-testing-over-time *ngIf='test_result_data != null' [graph_data]='test_result_data'></app-data-testing-over-time>
            </div>
            <div id='column-main'>
                
                <app-data-test-proportion-by-result *ngIf='test_result_data != null' [graph_data]='test_result_data'></app-data-test-proportion-by-result>
                <!--<app-num-cases-total-graph *ngIf='test_result_data != null' [graph_data]='test_result_data'></app-num-cases-total-graph>-->
            </div>
        </div>
        <!--
        <div>
            <h2>Testing Data</h2>
            <app-num-cases-total-graph *ngIf='test_result_data != null' [graph_data]='test_result_data'></app-num-cases-total-graph>
            <h2>COVID Cases Over Time</h2>
            <app-num-cases-time-graph *ngIf='phu_data != null' [graph_data]='phu_data' [log_scale]='showVar' [graph_new_data]='phu_new_data'></app-num-cases-time-graph>
            <button label="Click" (click)="toggleChild()">Log Scale</button>
        </div>
        -->
    </div>
</div>
