<div class='content' style='background-color: white;'>
    <app-navbar [shows_title]='true'></app-navbar>
    <div id='container' style="margin-top:30px;margin-left:16px;height:400px;">
        <div class='mat-display-1' style='font-weight:bold;'>Want to get involved?</div>
        <p>Data junkie looking to make an impact on COVID? Join our academic / industry collaborative: Contact  Liam at liam.mccoy@mail.utoronto.ca</p>
        <p>Experts / industry / sponsors: Please connect so we can collaborate / partner.</p>
        <p>Submit a viz: Send a viz and tell us what is shows / why it is important and we will post it</p>
        <p>Sign up for our mailing list by filling out the survey below!</p>
        <button mat-raised-button id='sign-up-btn' (click)='on_sign_up_pressed();'>Sign Up</button>
    </div>
</div>
