#explore-data {
    margin:20px 0px 20px 0px;
    width:100%;
    display: flex;
}

#explore-data-cell {
    width:33%;
    text-align: center;
    margin: 10px;
}

#explore-data-cell-text {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
}

#explore-data-img {
    width:33%;
}

#explore-data-btn {
    color: white;
    background-color: #205D86;
    width:150px;
    text-align: center;
}

#sign-up-btn {
    color: white;
    background-color: #205D86;
    width:150px;
    text-align: center;
}