<div [ngClass]="{'mobile-browser': !is_full}">
    <div class='content' style='background-color: white;'>
        <div id='container' style="margin:0">
            <div *ngIf="is_full" class="table-container">
                <div style="display:flex;flex-direction:column;justify-content: center;align-items: center;">
                  <h1 class="scorecard-header desktop-ontario-header">Ontario's COVID Warning System</h1>
                  <p>We use <a href="#indicators">five key indicators</a> to determine risk levels for 34 Public Health Units in Ontario</p>
                  <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-icon matPrefix>search</mat-icon>
                      <input type="text"
                             placeholder="Search for your Public Health Unit"
                             aria-label="Number"
                             matInput
                             [formControl]="myControl"
                             [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of phuArray" [value]="option['phu']">
                          {{option['phu']}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
                </div>
                <div class='row'>
                  <app-thermometer> </app-thermometer>
                  <app-map [data]=metricJsonObj> </app-map>
                </div>
                <div style="margin-top: 100px;" class="scorecard-header">Metrics by Public Health Unit (PHU)</div>
                <div>
                    <mat-progress-spinner class="spinner-styling" mode="indeterminate" diameter="50"
                        *ngIf="!sortedMetrics">
                    </mat-progress-spinner>
                </div>
                <table matSort (matSortChange)="sortMetrics($event)" *ngIf="sortedMetrics" class="table-styling">
                    <tr>
                        <th></th>
                        <th colspan="2" class="top-category">Pandemic Monitoring</th>
                        <th class="top-category">Response Monitoring</th>
                        <th class="top-category">Response Capacity</th>
                        <th class="top-category">Risk Levels</th>
                    </tr>
                    <tr>
                        <th mat-sort-header="phu" class="first-col-styling header-styling black-cell">PHU</th>
                        <th mat-sort-header="new" class="header-styling black-cell">Case Incidence</th>
                        <th mat-sort-header="rt" class="header-styling black-cell">Rt</th>
                        <th mat-sort-header="testing" class="header-styling black-cell">Testing &lt; 24h
                        </th>
                        <th mat-sort-header="icu" class="header-styling black-cell">Total ICU Bed Occupied</th>
                        <th mat-sort-header="risk" class="header-styling black-cell">Risk</th>
                    </tr>
                    <tr *ngFor="let row of sortedMetrics; index as index" class="row-styling" routerLink="{{'/dashboard/'+row.route}}"
                        [style.background-color]="index % 2 === 0 ? '#ffffff' : '#F2F2F2'">
                        <td class="first-col-cell"
                            [title]="row.phu+' Dashboard'">
                            {{row.phu}}</td>
                        <td [title]="row.weekly === 'nan'? 'Cannot calculate due to insufficient data': ''"
                            class="cell-border">
                            <mat-icon
                            [ngClass]="{'green-icon': row.rolling_pop < 1, 'yellow-icon': 1 <= row.rolling_pop && row.rolling_pop < 5, 'orange-icon': 5 <= row.rolling_pop && row.rolling_pop < 10, 'red-icon': 10 <= row.rolling_pop}"
                            [inline]="true">fiber_manual_record</mat-icon>{{row.rolling_pop === null ? 'N/A' : row.rolling_pop | number : '1.2-2'}}</td>
                        <td [title]="row.rt === 'nan'? 'Cannot calculate due to insufficient data': ''"
                            class="cell-border no-left-border">
                            <mat-icon
                            [ngClass]="{'green-icon': row.rt_ml < 0.9, 'yellow-icon': 0.9 <= row.rt_ml && row.rt_ml < 1.1, 'orange-icon': 1.1 <= row.rt_ml && row.rt_ml < 1.4, 'red-icon': 1.4 <= row.rt_ml}"
                            [inline]="true">fiber_manual_record</mat-icon>{{row.rt_ml === null ? 'N/A' : row.rt_ml | number : '1.2-2'}}
                        </td>
                        <td [title]="row.rolling_test_twenty_four === 'nan'? 'Cannot calculate due to insufficient data': ''"
                            class="cell-border">
                            <mat-icon [inline]="true" [ngClass]="{'green-icon': row.rolling_test_twenty_four > 0.9, 'yellow-icon': row.rolling_test_twenty_four <= 0.9 && row.rolling_test_twenty_four > 0.7, 'orange-icon': row.rolling_test_twenty_four <= 0.7 && row.rolling_test_twenty_four > 0.5, 'red-icon': row.rolling_test_twenty_four <= 0.5 }">fiber_manual_record</mat-icon>{{row.rolling_test_twenty_four === null ? 'N/A' : row.rolling_test_twenty_four | percent : '1.2-2'}}
                        </td>
                        <td [title]="row.icu === 'nan'? 'Cannot calculate due to insufficient data': ''"
                            class="cell-border">
                            <mat-icon [inline]="true"
                            [ngClass]="{'green-icon': row.critical_care_pct < 0.6, 'yellow-icon': 0.6 <= row.critical_care_pct && row.critical_care_pct < 0.8, 'orange-icon': 0.8 <= row.critical_care_pct && row.critical_care_pct < 0.9, 'red-icon': 0.9 <= row.critical_care_pct}">fiber_manual_record</mat-icon>
                            {{row.critical_care_pct === null ? 'N/A' : row.critical_care_pct | percent}}</td>
                        <td [ngClass]="{'black-cell': row.weekly === 'nan', 'green-cell': row.rolling_pop < 1, 'yellow-cell': 1 <= row.rolling_pop && row.rolling_pop < 5, 'orange-cell': 5 <= row.rolling_pop && row.rolling_pop < 10, 'red-cell': 10 < row.rolling_pop}"
                            class="cell-border center-cell">
                            {{row.rolling_pop === null ? 'N/A' : (row.rolling_pop >= 10 ? 'Red' : (row.rolling_pop >= 5 ? 'Orange' : (row.rolling_pop >= 1 ? 'Yellow': 'Green')))}}</td>
                    </tr>
                </table>
            </div>
            <div *ngIf="!is_full">
              <div style="display:flex;flex-direction:column;justify-content: center;align-items: center;">
                <h1 class="scorecard-header desktop-ontario-header">Ontario's COVID Warning System</h1>
                <p>We use <a href="#indicators">five key indicators</a> to determine risk levels for 34 Public Health Units in Ontario</p>
                <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <mat-icon matPrefix>search</mat-icon>
                    <input type="text"
                           placeholder="Search for your Public Health Unit"
                           aria-label="Number"
                           matInput
                           [formControl]="myControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let option of phuArray" [value]="option['phu']">
                        {{option['phu']}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
              </div>
              <div class='row'>
                <app-thermometer> </app-thermometer>
                <app-map [data]=metricJsonObj> </app-map>
              </div>
                <div class="scorecard-header">Metrics by PHU</div>
                <div>
                    <mat-progress-spinner class="spinner-styling" mode="indeterminate" diameter="50"
                        *ngIf="!sortedMetrics">
                    </mat-progress-spinner>
                </div>
                <div *ngIf="dropdownSelection && sortedMetrics" style="padding-top: 10px; width: 90%; margin: auto;">
                    <form [formGroup]="dropdownSelection">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Jump to a Specific Public Health Unit</mat-label>
                            <mat-select formControlName="phu" disableOptionCentering
                                (selectionChange)="scrollTo(dropdownSelection.controls.phu.value)">
                                <ngx-mat-select-search formControlName="searchCtrl" [placeholderLabel]="'Search...'"
                                    [noEntriesFoundLabel]="'Not found'" name="search"></ngx-mat-select-search>
                                <mat-option
                                    *ngFor="let phu of phuArray |stringFilterBy:dropdownSelection.controls.searchCtrl.value:'phu'; index as index"
                                    [value]="phu.phu">
                                    {{phu.phu}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>

                </div>
                <div class="table-styling-mobile">
                  <table matSort (matSortChange)="sortMetrics($event)" *ngIf="sortedMetrics" class="table-styling-mobile">
                      <tr>
                          <th></th>
                          <th colspan="2" class="top-category">Pandemic Monitoring</th>
                          <th class="top-category">Response Monitoring</th>
                          <th class="top-category">Response Capacity</th>
                          <th class="top-category">Risk Levels</th>
                      </tr>
                      <tr>
                          <th mat-sort-header="phu" class="first-col-styling header-styling black-cell">PHU</th>
                          <th mat-sort-header="new" class="header-styling black-cell">Case Incidence</th>
                          <th mat-sort-header="rt" class="header-styling black-cell">Rt</th>
                          <th mat-sort-header="testing" class="header-styling black-cell">Testing &lt; 24h
                          </th>
                          <th mat-sort-header="icu" class="header-styling black-cell">Total ICU Bed Occupied</th>
                          <th mat-sort-header="risk" class="header-styling black-cell">Risk</th>
                      </tr>
                      <tr *ngFor="let row of sortedMetrics; index as index" class="row-styling" routerLink="{{'/dashboard/'+row.route}}"
                          [style.background-color]="index % 2 === 0 ? '#ffffff' : '#F2F2F2'">
                          <td class="first-col-cell"
                              [title]="row.phu+' Dashboard'">
                              {{row.phu}}</td>
                          <td [title]="row.weekly === 'nan'? 'Cannot calculate due to insufficient data': ''"
                              class="cell-border">
                              <mat-icon
                              [ngClass]="{'green-icon': row.rolling_pop < 1, 'yellow-icon': 1 <= row.rolling_pop && row.rolling_pop < 5, 'orange-icon': 5 <= row.rolling_pop && row.rolling_pop < 10, 'red-icon': 10 <= row.rolling_pop}"
                              [inline]="true">fiber_manual_record</mat-icon>{{row.rolling_pop === null ? 'N/A' : row.rolling_pop | number : '1.2-2'}}</td>
                          <td [title]="row.rt === 'nan'? 'Cannot calculate due to insufficient data': ''"
                              class="cell-border no-left-border">
                              <mat-icon
                              [ngClass]="{'green-icon': row.rt_ml < 0.9, 'yellow-icon': 0.9 <= row.rt_ml && row.rt_ml < 1.1, 'orange-icon': 1.1 <= row.rt_ml && row.rt_ml < 1.4, 'red-icon': 1.4 <= row.rt_ml}"
                              [inline]="true">fiber_manual_record</mat-icon>{{row.rt_ml === null ? 'N/A' : row.rt_ml | number : '1.2-2'}}
                          </td>
                          <td [title]="row.rolling_test_twenty_four === 'nan'? 'Cannot calculate due to insufficient data': ''"
                              class="cell-border">
                              <mat-icon [inline]="true" [ngClass]="{'green-icon': row.rolling_test_twenty_four > 0.9, 'yellow-icon': row.rolling_test_twenty_four <= 0.9 && row.rolling_test_twenty_four > 0.7, 'orange-icon': row.rolling_test_twenty_four <= 0.7 && row.rolling_test_twenty_four > 0.5, 'red-icon': row.rolling_test_twenty_four <= 0.5 }">fiber_manual_record</mat-icon>{{row.rolling_test_twenty_four === null ? 'N/A' : row.rolling_test_twenty_four | percent : '1.2-2'}}
                          </td>
                          <td [title]="row.icu === 'nan'? 'Cannot calculate due to insufficient data': ''"
                              class="cell-border">
                              <mat-icon [inline]="true"
                              [ngClass]="{'green-icon': row.critical_care_pct < 0.6, 'yellow-icon': 0.6 <= row.critical_care_pct && row.critical_care_pct < 0.8, 'orange-icon': 0.8 <= row.critical_care_pct && row.critical_care_pct < 0.9, 'red-icon': 0.9 <= row.critical_care_pct}">fiber_manual_record</mat-icon>
                              {{row.critical_care_pct === null ? 'N/A' : row.critical_care_pct | percent}}</td>
                          <td [ngClass]="{'black-cell': row.weekly === 'nan', 'green-cell': row.rolling_pop < 1, 'yellow-cell': 1 <= row.rolling_pop && row.rolling_pop < 5, 'orange-cell': 5 <= row.rolling_pop && row.rolling_pop < 10, 'red-cell': 10 < row.rolling_pop}"
                              class="cell-border center-cell">
                              {{row.rolling_pop === null ? 'N/A' : (row.rolling_pop >= 10 ? 'Red' : (row.rolling_pop >= 5 ? 'Orange' : (row.rolling_pop >= 1 ? 'Yellow': 'Green')))}}</td>
                      </tr>
                  </table>
                </div>
            </div>
            <div *ngIf="is_full" class="card-container scorecard-info-container" style="margin-bottom: 48px">
                <div class="mobile-scorecard-container">
                    <div class="scorecard-info-header">Trend Threshold Breakdown</div>
                    <table style="width: 100%">
                        <tr class="row-styling">
                            <th class="first-col-styling header-styling black-cell">Metric</th>
                            <th class="header-styling black-cell">Green</th>
                            <th class="header-styling black-cell">Yellow</th>
                            <th class="header-styling black-cell">Orange</th>
                            <th class="header-styling black-cell">Red</th>
                        </tr>
                        <tr class="row-styling">
                            <td class="cell-border no-left-border center-cell">Case Incidence</td>
                            <td class="cell-border center-cell green-cell"><strong>&lt;</strong> 1</td>
                            <td class="cell-border center-cell yellow-cell">1 <strong>&le;</strong> Case Incidence
                                <strong>&lt;</strong> 5</td>
                            <td class="cell-border center-cell orange-cell">5 <strong>&le;</strong> Case Incidence
                                <strong>&lt;</strong> 10</td>
                            <td class="cell-border no-right-border center-cell red-cell"><strong>&gt;</strong> 10</td>
                        </tr>
                        <tr class="row-styling">
                            <td class="cell-border no-left-border alternate-row center-cell">Rt</td>
                            <td class="cell-border center-cell green-cell"><strong>&lt;</strong> 0.9</td>
                            <td class="cell-border center-cell yellow-cell">0.9 <strong>&le;</strong> Rt
                                <strong>&lt;</strong> 1.1 </td>
                            <td class="cell-border center-cell orange-cell">1.1 <strong>&le;</strong> Rt
                                <strong>&lt;</strong> 1.4 </td>
                            <td class="cell-border no-right-border center-cell red-cell"><strong>&ge;</strong> 1.4</td>
                        </tr>
                        <tr class="row-styling">
                            <td class="cell-border no-left-border alternate-row center-cell">Testing &lt;24h</td>
                            <td class="cell-border center-cell green-cell"><strong>&lt;</strong> 90%</td>
                            <td class="cell-border center-cell yellow-cell">70% <strong>&le;</strong> Turn Around
                                <strong>&lt;</strong> 90% </td>
                            <td class="cell-border center-cell orange-cell">50% <strong>&le;</strong> Turn Around
                                <strong>&lt;</strong> 70% </td>
                            <td class="cell-border no-right-border center-cell red-cell"><strong>&ge;</strong> 50%</td>
                        </tr>

                        <tr class="row-styling">
                            <td class="cell-border no-left-border alternate-row center-cell">Total ICU Bed Occupied
                            </td>
                            <td class="cell-border center-cell green-cell"><strong>&lt;</strong> 60%</td>
                            <td class="cell-border center-cell yellow-cell">60% <strong>&le;</strong> Percent
                                Occupied % <strong>&le;</strong> 80%</td>
                            <td class="cell-border center-cell orange-cell">80% <strong>&le;</strong> Percent
                                Occupied % <strong>&le;</strong> 90%</td>
                            <td class="cell-border no-right-border center-cell red-cell"><strong>&gt;</strong> 90%</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div *ngIf="!is_full" class="card-container scorecard-info-container">
                <div class="mobile-scorecard-container">
                    <div class="center-cell scorecard-info-header">Trend Threshold Breakdown</div>
                    <table class="mobile-threshold-table">
                        <tr>
                            <th class="mobile-phu-header" colspan="2">Case Incidence</th>
                        </tr>
                        <tr>
                            <td class="alternate-row threshold-left-col">Green</td>
                            <td class="center-cell threshold-right-col green-cell"><strong>&lt;</strong> 1</td>
                        </tr>
                        <tr>
                            <td class="threshold-left-col">Yellow</td>
                            <td class="center-cell threshold-right-col yellow-cell">1 <strong>&le;</strong> Case Incidence
                                <strong>&lt;</strong> 5</td>
                        </tr>
                        <tr>
                            <td class="alternate-row threshold-left-col">Orange</td>
                            <td class="center-cell threshold-right-col orange-cell">5<strong>&le;</strong> Case Incidence
                                <strong>&lt;</strong> 10</td>
                        </tr>
                        <tr>
                            <td class="alternate-row threshold-left-col">Red</td>
                            <td class="center-cell threshold-right-col red-cell"><strong>&gt;</strong> 10</td>
                        </tr>
                    </table>
                    <table class="mobile-threshold-table">
                        <tr>
                            <th class="mobile-phu-header" colspan="2">Rt</th>
                        </tr>
                        <tr>
                            <td class="alternate-row threshold-left-col">Green</td>
                            <td class="center-cell threshold-right-col green-cell"><strong>&lt;</strong> 0.9</td>
                        </tr>
                        <tr>
                            <td class="threshold-left-col">Yellow</td>
                            <td class="center-cell threshold-right-col yellow-cell">0.9 <strong>&le;</strong> Rt
                                <strong>&lt;</strong> 1.1</td>
                        </tr>
                        <tr>
                            <td class="threshold-left-col">Orange</td>
                            <td class="center-cell threshold-right-col orange-cell">1.1 <strong>&le;</strong> Rt
                                <strong>&lt;</strong> 1.4</td>
                        </tr>
                        <tr>
                            <td class="alternate-row threshold-left-col">Red</td>
                            <td class="center-cell threshold-right-col red-cell"><strong>&ge;</strong> 1.4</td>
                        </tr>
                    </table>
                    <table class="mobile-threshold-table">
                        <tr>
                            <th class="mobile-phu-header" colspan="2">Testing &lt; 24h </th>
                        </tr>
                        <tr>
                            <td class="alternate-row threshold-left-col">Green</td>
                            <td class="center-cell threshold-right-col green-cell"><strong>&gt;</strong> 90%</td>
                        </tr>
                        <tr>
                            <td class="threshold-left-col">Yellow</td>
                            <td class="center-cell threshold-right-col yellow-cell">70% <strong>&le;</strong> Turn Around <strong>&le;</strong> 90%</td>
                        </tr>
                        <tr>
                            <td class="threshold-left-col alternate-row">Orange</td>
                            <td class="alternate-row center-cell threshold-right-col orange-cell">50% <strong>&le;</strong> Turn Around <strong>&le;</strong> 70%</td>
                        </tr>
                        <tr>
                            <td class="threshold-left-col alternate-row">Red</td>
                            <td class="alternate-row center-cell threshold-right-col red-cell"><strong>&lt;</strong> 50%</td>
                        </tr>
                    </table>
                    <table class="mobile-threshold-table">
                        <tr>
                            <th class="mobile-phu-header" colspan="2">Total ICU Bed Occupied</th>
                        </tr>
                        <tr>
                            <td class="alternate-row threshold-left-col">Green</td>
                            <td class="center-cell threshold-right-col green-cell"><strong>&lt;</strong> 60%</td>
                        </tr>
                        <tr>
                            <td class="threshold-left-col">Yellow</td>
                            <td class="center-cell threshold-right-col yellow-cell">60% <strong>&le;</strong> Percent Occupied <strong>&le;</strong> 80%</td>
                        </tr>
                        <tr>
                            <td class="alternate-row threshold-left-col">Orange</td>
                            <td class="center-cell threshold-right-col orange-cell">80% <strong>&le;</strong> Percent Occupied <strong>&le;</strong> 90%</td>
                        </tr>
                        <tr>
                            <td class="alternate-row threshold-left-col">Red</td>
                            <td class="center-cell threshold-right-col red-cell"><strong>&gt;</strong> 90%</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card-container scorecard-info-container metric-explanation-container">
                <div *ngIf="timesObj" class="mobile-scorecard-container">
                    <div id="indicators" class="scorecard-info-header data-source-header">Metric Explanations</div>
                    <mat-list role="list" class="metric-explanation-list">
                      <mat-list-item role="listitem" class="data-item">
                          <div class="metric-height">
                              <div>
                                  <span class="data-source-title">1. Case Incidence:</span> The seven day rolling average of daily new cases in a public health unit
                              </div>
                              <div class="time-styling">Last updated {{timesObj.ontario_phu_weekly_new_cases}}</div>
                          </div>
                      </mat-list-item>
                        <mat-list-item role="listitem" class="data-item">
                            <div class="metric-height">
                                <div>
                                    <span class="data-source-title">2. RT:</span> A measure of how contagious a disease
                                    is
                                    at a certain point in time. It tells
                                    us the average number of people one sick person can infect (e.g. an Rt of 5 means
                                    that
                                    on
                                    average, each case is expected to infect 5 other people). If Rt is greater than 1,
                                    it
                                    means
                                    the outbreak is growing.
                                </div>
                                <div class="time-styling">Last updated
                                    {{timesObj.canada_bettencourt_and_ribeiro_approach}}</div>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem" class="data-item">
                            <div class="metric-height">
                                <div>
                                    <span class="data-source-title">3. Testing &lt; 24h: </span> The amount of time
                                    needed
                                    for a lab to process a specimen and enter the
                                    result (e.g. positive or negative) into the public health database. This should be
                                    as
                                    fast
                                    as possible to prevent backlogs and provide the most accurate view possible on the
                                    pandemic
                                    situation.
                                </div>
                                <div class="time-styling">Last updated {{timesObj.ontario_testing_24_hours}}</div>
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem" class="data-item">
                            <div class="metric-height">
                                <div>
                                    <span class="data-source-title">4. Total ICU Bed Occupied:</span> The percentage of
                                    beds
                                    in the intensive care unit that are
                                    occupied. This includes both COVID-19 patients and patients who are in the ICU for
                                    other
                                    reasons. This gives us an important sense of healthcare capacity since if there are
                                    not
                                    enough ICU beds, patients are at a higher risk of death.
                                </div>
                                <div class="time-styling">Last updated {{timesObj.ontario_phu_icu_capacity}}</div>
                            </div>
                        </mat-list-item>
                    </mat-list>
                    <div class="container-divider-scorecard">
                    </div>
                    <div class="missing-data-explanation">
                        <div class="header-container">
                            <div class="missing-data-label">N/A</div> - Cannot calculate due to insufficient data
                        </div>
                        <div class="header-container">
                            <div class="missing-data-label">DNE</div> - Does Not Exist as data is not reported publicly
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-container scorecard-info-container">
                <div class="mobile-scorecard-container no-bottom-padding">
                    <div class="scorecard-info-header data-source-header">Data Sources</div>
                    <mat-list role="list" class="metric-explanation-list">
                        <mat-list-item role="listitem" class="data-item">
                            <div class="metric-height">
                                <span class="data-source-title">1. Case Incidence:</span> Calculated using case
                                reported date. Data from Confirmed positive
                                cases of
                                COVID19 in Ontario from
                                Government of Ontario
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem" class="data-item">
                            <div class="metric-height">
                                <span class="data-source-title">2. Rt:</span>
                                Calculated using a modified approach of Kevin Systrom (based on <a
                                    href='https://journals.plos.org/plosone/article?id=10.1371/journal.pone.0002185'>Bettencourt
                                    & Ribeiro</a>). Data from the COVID-19 Canada Open Data Working Group
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem" class="data-item">
                            <div class="metric-height">
                                <span class="data-source-title">3. Testing:</span> Calculated using case reported date,
                                specimen reported date, test reported date. Data from confirmed positive cases of
                                COVID19
                                in Ontario from Government
                                of Ontario
                            </div>
                        </mat-list-item>
                        <mat-list-item role="listitem" class="data-item">
                            <div class="metric-height">
                                <span class="data-source-title">4. ICU:</span>Calculated using number of critical care
                                beds and critical care patients in baseline and incremental type 2 and type 3 icus. Data
                                from Critical Care Services Ontario
                                (CCSO)
                            </div>
                        </mat-list-item>
                    </mat-list>
                </div>
                <div class="container-divider-scorecard">
                </div>
                <div class="mobile-scorecard-container">
                    <div class="scorecard-info-header missing-data-header">A Note On Missing Data</div>
                    <div style="display: flex" [style.flex-wrap]="!is_full ? 'wrap': 'none'">
                        <div class="missing-data-icon-container">
                            <div class="missing-data-header">DNE: Does Not Exist</div>
                        </div>
                        <div [style.width]="!is_full ? '100%' : 'auto'" class="missing-data-text">
                            A number of key data items in the scorecard above, such as contact tracing capacity, are
                            listed as <strong>DNE</strong>, which stands for <strong>Does Not Exist</strong>. Data for
                            these crucial
                            indicators is currently not available or
                            not reported publicly.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
