
#header-container {
    height:225px;
    width:100%;
    position: relative;
    background-color: #DADFE1;
}

#title-div {
    position: absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform:translate(-50%, -50%);
    width:100%;
}

#which-curve {
    margin:30px;
    display:flex;
    flex-direction: column;
    @media screen and (min-width: 1024px) {
        display:flex;
        flex-direction: row;
    }
}

#which-curve-text {
    color: #434343;
    //padding:20px;

    @media screen and (min-width: 1024px) {
        flex-shrink: 0;
        width:35%;
        //width: 300px !important;
    }

    h1 {
        margin:0;
    }
}

#vizContainer{
    display: flex; 
    justify-content: center;
    //padding:20px;
    height: 550px;
    overflow:hidden;
    margin-top:25px;
    @media screen and (min-width: 1024px) {
        width:65%;
        margin-top:0;
        margin-left:20px;
    }
}

#which-curve-graph {
    flex-grow: 1;
}

#who-what-content {
    color: #434343;
    text-align: center;
    margin:20px 20px 0px 20px;
    padding: 30px 10px 30px 10px;
    font-size:20px;

    @media screen and (min-width: 1024px) {
        padding: 50px 100px 50px 100px;
        font-size: 25px;
    }
}

#signup-data-btn {
    color: white;
    background-color: #205D86;
    width:175px;
    font-size: 20px;
    text-align: center;
    align: center;
}

#title-text {
    font-size: 40px;
    font-weight: bold;
    color: #205D86;
    margin-bottom: 30px;
    @media screen and (min-width: 1024px) {
        font-size: 60px;
    }
}

#subtitle-text {
    font-family: 'Baloo2', sans-serif;
    font-size: 20px;
    @media screen and (min-width: 1024px) {
        font-size: 25px;
    }
}

#explore-data {
    width:100%;
    margin:20px 0px 20px 0px;

    @media screen and (min-width: 1024px) {
        display: flex;

    }
}

#explore-data-cell {
    text-align: center;
    margin: 50px 0px 50px 0px;

    @media screen and (min-width: 1024px) {
        margin: 10px;
    }
}

#explore-data-cell-text {
    font-size: 24px;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
}

#explore-data-img {
    height: 125px;
    width: 125px;

}

#explore-data-btn {
    color: white;
    background-color: #205D86;
    width:175px;
    font-size: 20px;
    text-align: center;
}

#read-more-container {
    text-align: left;

    @media screen and (min-width: 1024px) {
        text-align: center;
    }
}