<app-navbar [page]='"home"'></app-navbar>
<div [ngClass]="{'mobile-browser': !is_full}">
    <div class='header-container'>
        <div class="header-inner-container">
            <img *ngIf="!is_full" class='logo-mobile-home' routerLink='/home' src='assets/img/logo.svg'>
            <div id='title-div'>
                <div>
                    <p *ngIf="is_full" class='mat-display-1' id='title-text'>#HowsMyFlattening</p>
                    <p class='mat-headline home-header-sub' id='subtitle-text'>A centralized data
                        analytics and
                        visualization
                        hub monitoring Ontario's response to COVID-19</p>
                </div>
            </div>
        </div>
    </div>
    <div class='content' style='background-color: white;'>
        <div id='container' style="margin:0">
            <div class='home-page-card which-curve'>
                <div id='which-curve-text'>
                    <div>
                        <h1 class="main-header-styling">
                            Controlling COVID-19 in Institutions
                        </h1>
                        <p class="sub-header-styling">
                            <strong>Over the past few weeks, the tide of the pandemic has shifted into two distinct
                                streams: the community at-large and institutional settings such as long-term care homes
                                (LTCs), retirement homes, hospitals, homeless shelters, and prisons. People in these
                                institutional settings are more vulnerable to COVID-19.</strong>
                        </p>
                        <br>

                        <p class="sub-header-paragraph">
                            The Ontario government is tracking if a confirmed positive case is linked to an outbreak of
                            COVID-19 in these various institutions. This graph displays if daily new cases are
                            originating from the community at-large or are linked to outbreaks.
                        </p>
                        <br>
                        <p class="sub-header-paragraph">
                            This visualization shows us that we have <a class="home-page-link">#FlattenedTheCurve in
                                institutions</a> through comprehensive testing, intensive infection control, and other
                            policies to minimize risk of transmission, such as restricting staff to one LTC home and
                            providing safe isolation settings for people experiencing homelessness. However, as of early
                            May, the number of new cases in the community at-large is greater than the case of outbreaks
                            indicating mitigation - but not elimination.
                        </p>

                        <p class="sub-header-paragraph">
                            <a class="home-page-link">Controlling community transmission must mirror our successes in
                                controlling outbreaks.</a>
                        </p>

                    </div>
                </div>
                <div id="vizContainer"></div>
            </div>
            <div *ngIf="is_full" class="table-container">
                <div class="scorecard-header">Ontario's Reopening Metrics</div>
                <table *ngIf="ontarioObj.rt !== null" class="table-styling">
                    <tr>
                        <th class="ontario-header-styling top-category" colspan="2">Pandemic Monitoring</th>
                        <th class="ontario-header-styling top-category" colspan="2">Response Monitoring</th>
                        <th class="ontario-header-styling top-category" colspan="2">Response Capacity</th>
                    </tr>
                    <tr class="ontario-row-styling">
                        <td class="center-cell" style="width: 10%; background-color: #b2eda4">{{ontarioObj.rt}}</td>
                        <td class="center-cell" style="background-color: #b2eda4">RT Value</td>
                        <td class="center-cell" [ngClass]="{'black-cell': ontarioObj.testing === 'nan'}" style="width: 10%;">{{ontarioObj.testing === 'nan' ? 'N/A' : ontarioObj.testing}}
                        </td>
                        <td class="center-cell" style="background-color: #b2eda4">Testing Percentage &lt; 24h</td>
                        <td class="center-cell" style="width: 10%; background-color: #b2eda4" rowspan="2">
                            {{ontarioObj.icu}}</td>
                        <td class="center-cell" style="background-color: #b2eda4" rowspan="2">Total ICU Bed Occupied
                            Percentage</td>
                    </tr>
                    <tr class="ontario-row-styling">
                        <td class="center-cell" style="width: 10%; background-color: #b2eda4">{{ontarioObj.weekly}}</td>
                        <td class="center-cell" style="background-color: #b2eda4">Weekly New Cases</td>
                        <td class="center-cell" [ngClass]="{'black-cell': ontarioObj.tracing === 'nan'}" style="width: 10%;">{{ontarioObj.tracing === 'nan' ? 'N/A' : ontarioObj.tracing}}
                        </td>
                        <td class="center-cell" style="background-color: #b2eda4">Tracing Percentage &lt; 24h</td>
                    </tr>
                </table>
                <div class="scorecard-header">PHU Performance Overview by Metrics</div>
                <table matSort (matSortChange)="sortMetrics($event)" class="table-styling">
                    <tr>
                        <th></th>
                        <th colspan="2" class="top-category">Pandemic Monitoring</th>
                        <th colspan="2" class="top-category">Response Monitoring</th>
                        <th class="top-category">Response Capacity</th>
                        <th class="top-category">Stages</th>
                    </tr>
                    <tr>
                        <th mat-sort-header="phu" class="first-col-styling header-styling black-cell">PHU</th>
                        <th mat-sort-header="rt" class="header-styling black-cell">RT</th>
                        <th mat-sort-header="new" class="header-styling black-cell">Weekly New Cases</th>
                        <th mat-sort-header="testing" class="header-styling black-cell">Testing % &lt; 24h</th>
                        <th mat-sort-header="tracing" class="header-styling black-cell">Tracing % &lt; 24h</th>
                        <th mat-sort-header="icu" class="header-styling black-cell">Total ICU Bed Occupied %</th>
                        <th mat-sort-header="stage" class="header-styling black-cell">Stage</th>
                    </tr>
                    <tr *ngFor="let row of sortedMetrics; index as index" class="row-styling"
                        [style.background-color]="index % 2 === 0 ? '#ffffff' : '#F2F2F2'">
                        <td class="first-col-cell" [title]="row.phu">{{row.phu}}</td>
                        <td [ngClass]="{'black-cell': row.rt === 'nan'}" class="center-cell">
                            {{row.rt === 'nan' ? 'N/A' : row.rt}}</td>
                        <td [ngClass]="{'black-cell': row.weekly === 'nan'}" class="center-cell">
                            {{row.weekly === 'nan' ? 'N/A' : row.weekly}}</td>
                        <td [ngClass]="{'black-cell': row.testing === 'nan'}" class="center-cell">
                            {{row.testing === 'nan' ? 'N/A' : (row.testing+"%")}}</td>
                        <td [ngClass]="{'black-cell': row.testing === 'nan'}" class="center-cell">
                            {{row.tracing === 'nan' ? 'N/A' : row.tracing}}</td>
                        <td [ngClass]="{'black-cell': row.icu === 'nan'}" class="center-cell">
                            {{row.icu === 'nan' ? 'N/A' : row.icu}}</td>
                        <td [ngClass]="{'black-cell': row.staging === 'nan'}" class="center-cell">
                            {{row.stage === 'nan' ? 'N/A' : row.stage}}</td>
                    </tr>
                </table>
            </div>
            <div *ngIf="!is_full">
                <div class="scorecard-header">Ontario's Reopening Metrics</div>
                <table *ngIf="ontarioObj.rt !== null" class="mobile-ontario-table">
                    <tr>
                        <th colspan="2" class="ontario-header-styling top-category" colspan="2">Pandemic Monitoring</th>
                    </tr>
                    <tr class="ontario-row-styling">
                        <td class="center-cell" style="width: 10%; background-color: #b2eda4">{{ontarioObj.rt}}</td>
                        <td class="center-cell" style="background-color: #b2eda4">RT Value</td>
                    </tr>
                    <tr class="ontario-row-styling">
                        <td class="center-cell" style="width: 10%; background-color: #b2eda4">{{ontarioObj.weekly}}</td>
                        <td class="center-cell" style="background-color: #b2eda4">Weekly New Cases</td>
                    </tr>
                </table>
                <table *ngIf="ontarioObj.rt !== null" class="mobile-ontario-table">
                    <tr>
                        <th colspan="2" class="ontario-header-styling top-category" colspan="2">Response Monitoring</th>
                    </tr>
                    <tr class="ontario-row-styling">
                        <td class="center-cell" [ngClass]="{'black-cell': ontarioObj.testing === 'nan'}" style="width: 10%;">{{ontarioObj.testing === 'nan' ? 'N/A' : ontarioObj.testing}}
                        </td>
                        <td class="center-cell">Testing Percentage &lt; 24h</td>
                    </tr>
                    <tr class="ontario-row-styling">
                        <td class="center-cell" [ngClass]="{'black-cell': ontarioObj.tracing === 'nan'}" style="width: 10%;">{{ontarioObj.tracing === 'nan' ? 'N/A' : ontarioObj.tracing}}
                        </td>
                        <td class="center-cell">Tracing Percentage &lt; 24h</td>
                    </tr>
                </table>
                <table *ngIf="ontarioObj.rt !== null" class="mobile-ontario-table">
                    <tr>
                        <th colspan="2" class="ontario-header-styling top-category" colspan="2">Response Capacity</th>
                    </tr>
                    <tr class="ontario-row-styling">
                        <td class="center-cell" style="width: 10%; background-color: #b2eda4" rowspan="2">
                            {{ontarioObj.icu}}</td>
                        <td class="center-cell" style="background-color: #b2eda4" rowspan="2">Total ICU Bed Occupied
                            Percentage</td>
                    </tr>
                    <tr></tr>
                </table>
                <div class="scorecard-header">PHU Performance Overview by Metrics</div>
                <table *ngFor="let table of sortedMetrics" class="mobile-scorecard-table-styling">
                    <tr>
                        <th class="mobile-phu-header" colspan="2">{{table.phu}}</th>
                    </tr>
                    <tr>
                        <td class="mobile-header-cell">Stage</td>
                        <td class="mobile-data-cell center-cell">{{table.stage}}</td>
                    </tr>
                    <tr>
                        <th class="mobile-category-header" colspan="2">Pandemic Monitoring</th>
                    </tr>
                    <tr>
                        <td class="mobile-header-cell">RT</td>
                        <td [ngClass]="{'black-cell': table.rt === 'nan'}" class="mobile-data-cell center-cell">
                            {{table.rt === 'nan' ? 'N/A' : table.rt}}</td>
                    </tr>
                    <tr>
                        <td class="mobile-header-cell">Weekly New Cases</td>
                        <td [ngClass]="{'black-cell': table.weekly === 'nan'}" class="mobile-data-cell center-cell">
                            {{table.weekly === 'nan' ? 'N/A' : table.weekly}}</td>
                    </tr>
                    <tr>
                        <th class="mobile-category-header" colspan="2">Response Monitoring</th>
                    </tr>
                    <tr>
                        <td class="mobile-header-cell">Testing % &lt; 24h</td>
                        <td [ngClass]="{'black-cell': table.testing === 'nan'}" class="mobile-data-cell center-cell">
                            {{table.testing === 'nan' ? 'N/A' : table.testing}}</td>
                    </tr>
                    <tr>
                        <td class="mobile-header-cell">Tracing % &lt; 24h</td>
                        <td [ngClass]="{'black-cell': table.tracing === 'nan'}" class="mobile-data-cell center-cell">
                            {{table.tracing === 'nan' ? 'N/A' : table.tracing}}</td>
                    </tr>
                    <tr>
                        <th class="mobile-category-header" colspan="2">Response Capacity</th>
                    </tr>
                    <tr>
                        <td class="mobile-header-cell">Total ICU Bed Occupied %</td>
                        <td [ngClass]="{'black-cell': table.icu === 'nan'}" class="mobile-data-cell center-cell">
                            {{table.icu === 'nan' ? 'N/A' : table.icu}}</td>
                    </tr>
                </table>
            </div>
            <div class="card-container">
                <div class='half-width-left'>
                    <div id='explore-data-cell'>
                        <div class="data-cell-container">
                            <div id='explore-data-cell-text'>Updates on Ontario's Latest Metrics</div>
                            <button class="home-page-button" routerLink='/dashboard'>Explore <span
                                    *ngIf="is_full">Dashboard</span></button>
                        </div>
                    </div>
                </div>
                <div class="container-divider">
                </div>
                <div class='half-width-right'>
                    <div id='explore-data-cell'>
                        <div class="data-cell-container">
                            <div id='explore-data-cell-text'>For further Ontario-specific Insights</div>
                            <button class="home-page-button" routerLink='/analysis'>Explore <span
                                    *ngIf="is_full">Analyses</span></button>
                        </div>
                    </div>
                </div>
                <!-- <div style='text-align: center;'>
                <div routerLink='/analysis' id='explore-data-btn'>Explore Analysis</div>
            </div> -->
                <!-- </div>
            <div class="home-page-card mission-background">
                <div class="inner-mission-container">
                    <div class="mission-header">On A Mission Together</div>
                    <p id='who-what-content' class='mat-headline'>
                        We are physicians, medical students, computational health researchers, designers and
                        epidemiologists
                        rapidly
                        filtering and presenting emergent COVID-19 data to help Ontario <a class="home-page-link"
                            href="https://twitter.com/hashtag/FlattenTheCurve?src=hashtag_click"
                            target="_blank">#FlattenTheCurve</a>.
                        <br><br>
                        We connect experts and present data in an easy to digest, actionable way to help Ontario's
                        public
                        leaders
                        and individuals act decisively as evidence grows and time ticks by.
                    </p>
                </div>
            </div>

            <div class="mail-container">
                <div class="inner-mail-container" style="display: flex;">
                    <div *ngIf="is_full" style="display: flex;">
                        <div class="mail-icon" style="width: 30%; padding-left: 30px; padding-right: 10px">
                            <img class='' src='assets/img/SignUpMail.svg'>
                        </div>
                        <div class="mail-text" style="width: 65%; text-align: left">
                            <div class="sign-up-styling">Sign up below for updates on new visualizations we release!
                            </div>
                            <button class="home-page-button mail-btn" (click)='on_sign_up_pressed()'>Join</button>
                            <a #MailingList href="https://www.surveymonkey.com/r/Y7X86JL" target="_blank"></a>
                        </div>
                    </div>
                    <div *ngIf="!is_full">
                        <div class="mail-text">
                            <div class="sign-up-styling">Sign up below for updates on new visualizations we release!
                            </div>
                        </div>
                        <div class="mail-icon">
                            <img class='' src='assets/img/SignUpMail.svg'>
                        </div>
                        <button class="home-page-button mail-btn" (click)='on_sign_up_pressed()'>Join</button>
                        <a #MailingList href="https://www.surveymonkey.com/r/Y7X86JL" target="_blank"></a>
                    </div>
                </div>

            </div> -->
            </div>
        </div>
    </div>
    <div class='footer'>
        <!-- <div class="footer-text">In partnership with</div>
        <div class="inner-footer">
            <div>
                <a target="_blank" href='https://trilliumhealthpartners.ca'>
                    <img id='resource_thumbnail' src='assets/img/team_supporters/klick_health_logo.png'>
                </a>
            </div>
            <div>
                <a target="_blank" href='https://trilliumhealthpartners.ca'>
                    <img id='resource_thumbnail' src='assets/img/team_supporters/uot_logo.png'>
                </a>
            </div>
            <div>
                <a target="_blank" href='https://trilliumhealthpartners.ca'>
                    <img id='resource_thumbnail' src='assets/img/team_supporters/red_hat.png'>
                </a>
            </div>
        </div> -->
    </div>