#header-container {
    height:300px;
    width:100%;
    position: relative;
    background-color: lightgrey;
}

#title-div {
    position: absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform:translate(-50%, -50%);
    width:90%;
}

#which-curve {
    margin:30px;
    @media screen and (min-width: 1024px) {
        display:flex;
    }
}

#which-curve-text {
    padding:20px;
    background-color: lightgrey;

    @media screen and (min-width: 1024px) {
        width: 400px;
    }
}

#which-curve-graph {
    flex-grow: 1;
}

#who-what-content {
    text-align: center;
    margin:20px 20px 20px 20px;
    font-size:20px;

    @media screen and (min-width: 1024px) {
        margin:50px 100px 50px 100px;
        font-size: 30px;
    }
}

#footer {
    height:40px;
    background-color: lightgrey;

    @media screen and (min-width: 1024px) {
        height:80px;
    }
}

#resources-button {
    font-size:20px;
    white-space: pre-wrap !important;
    width:300px;
    line-height: 25px;
    padding:20px;
}

#title-text {
    font-size: 30px;
    margin-bottom: 10px;
    @media screen and (min-width: 1024px) {
        font-size: 40px;
    }
}

#subtitle-text {
    font-size: 20px;
    @media screen and (min-width: 1024px) {
        font-size: 30px;
    }
}

#divider {
    background-color: darkgrey;
    height:2px;
    width:100%;
    @media screen and (min-width: 1024px) {
        height:4px;
    }
}