<div [ngClass]="is_full ? 'desktop' : 'mobile'">
  <div class="Outside">
      <div class="Inside">
        <div class="Right">
          <h1>Ontario’s ICU Crisis Explained</h1>
          <p>Ontario typically has approximately 1100 highly specialized (level 3) ICU beds with highly-trained ICU physician, nurses and other staff to support them. These beds were regularly at 100% capacity before the pandemic.</p>
          <p class="highlight">The current wave has been devastating for ICU care, displacing patients requiring non-COVID care and causing elective surgeries to be cancelled to free up beds.</p>
          <p>The hospitals, providers, EMS, Ornge and many others in the health system have been heroically moving patients around to try and find a bed and staff to care for them. Now without consent of patients and their families.</p>
          <p>This graph shows how far we are past our system capacity. And how close we are to filling all additional open beds created since the pandemic began.</p>
          <p>This graph does NOT show how many staff we need, how many surgeries have been cancelled to accommodate this capacity, transfers to beds outside of Ontario and how many patients are now being cared suboptimally for in less specialized areas to try to limit demand for level 3 ICU beds.</p>
          <p>We cannot vaccinate our way out of this and need an urgent policy response (see <a href="https://covid19-sciencetable.ca/sciencebrief/fighting-covid-19-in-ontario-the-way-forward/" target="_blank">Fighting Covid-19 in Ontario: The way Forward</a>).</p>
        </div>
        <div class="Left">
          <div id="vizContainer" style="display: flex; justify-content: center"></div>
        </div>
      </div>
  </div>
</div>
