#resource-box:hover {
    background-color: #FAFAFA;
}

#resource-box {
    border: 1px;  
    background:#E8EBED; 
    width:225px;
}

#resource_thumbnail {
    height: 225px; 
    width: 225px;
    object-fit: cover;
    object-position: 50% 50%;
}

#resource-title {
    text-align: left;
    margin:5px 5px 0px 5px;
    padding: 5px 5px 5px 5px;
    font-size:16px;
    margin: 0, auto;
    
    @media screen and (min-width: 1024px) {
        font-size: 18px;
    }
}

#resource-author {
    text-align: left;
    font-weight: bold;
    margin:5px 5px 0px 5px;
    padding: 5px 5px 0px 5px;
    font-size:14px;
    @media screen and (min-width: 1024px) {
        font-size: 16px;
    }
}

#resource-date {
    text-align: left;
    font-style: italic;
    margin:5px 5px 0px 5px;
    padding: 0px 5px 5px 5px;
    font-size:14px;
    @media screen and (min-width: 1024px) {
        font-size: 16px;
    }
}

#resources-button {
    font-size:20px;
    white-space: pre-wrap !important;
    width:300px;
    line-height: 25px;
    padding:20px;
}