.content {
    width: 50%;
    margin: 0 auto;
}

.content-mobile{
  width: 90%;
  margin: 0 auto;
}
table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
   width: 500px;
   margin-bottom: 3 0px;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
}

.highlights {
  max-width: 400px;
}

li {
  margin-top: 10px;
}

.red{
  background-color: #D94711;
}

.orange{
  background-color: #F28E13;
}

.yellow{
  background-color: #F2BB13;
}

.green{
  background-color: #12A67C;
}
