.content {
    width: 50%;
    margin: 0 auto;
}
table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
   width: 500px;
   margin-bottom: 3 0px;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
}

.highlights {
  max-width: 400px;
}

li {
  margin-top: 10px;
}

.each{
  padding-top: 30px;
  padding-bottom: 30px;
  display:flex;
  min-height:500px;
  border-bottom:1px black solid;
  justify-content: space-between;
}
