/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Baloo+2&display=swap");

html, body {
    height: 100%;
    background-color: #FFFFFF;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content {
    width:100%;
    @media screen and (min-width:1024px) {
        width:1024px;

        margin:0 auto;
    }

}

.mat-headline {
    font-size: 30px;
}
