<div id='column-layout'>
    <div id='column-detail'>

        <h3 class="column-title">Capacity Analysis: Ontario</h3>

        <div id='key-takeaway'><p>Researchers from the <a href='https://www.covid-19-mc.ca'>COVID-19 ModCollab</a> have
            developed a compartment model to predict the time Ontario ICU resources will be depleted under undesirable
            (Italy) and better case (South Korea) scenarios. They explore scenarios varying the rate of growth of
            patients in the community/emergency department and ICU surge capacity. The effects of social distancing are
            modeled by decreasing the growth rate after 14 days.</p></div>

    </div>
    <div id='column-main' style="border-style: solid; border-width: 2px; border-color: gray;">
        <img style="width:100%;" src='assets/img/Figure1_Conservative_Resources.jpg'
             alt="Figure1_Conservative_Resources.jpg">
        <!-- <img style="width:100%;"src='assets/img/Figure2_Conservative_Waiting.jpg'> -->
        <img style="width:100%;" src='assets/img/Figure3_Italy_Resources.jpg' alt="Figure3_Italy_Resources.jpg">
        <!-- <img style="width:100%;"src='assets/img/Figure4_Italy_Waiting.jpg'> -->
    </div>
</div>
