<app-navbar [shows_title]='true' [page]='"analysis"'></app-navbar>
<div class='content' style='background-color: white;'>
    <div id='container' [ngClass]="{'mobile-sizing': !is_full}">
        <div [ngClass]="{'analysis-header': !is_full}">
            <div [ngClass]="{'inner-analysis-header': !is_full}">
                <h1>Ontario-specific COVID-19 Analysis</h1>
                <div>

                    This page highlights analyses that provide further Ontario-specific insights as we monitor
                    performance
                    to
                    flatten the curve. The following dashboard overviews the key insights for Ontario. Select an
                    analysis
                    below
                    the dashboard for an in-depth exploration.<br><br><br>
                </div>
            </div>
        </div>
        <div class="form-container kpi-header" [ngClass]="{'mobile-kpi-styling': !is_full}">
            <div class="kpi-title purple-font" [ngClass]="{'center-text': !is_full}">Ontario at-a-Glance</div>
            <div class="kpi-line" *ngIf='is_full'></div>
        </div>
        <div id="kpiContainer" [ngClass]="{'mobile-sizing': !is_full}"></div>
        <div *ngIf='is_full' [ngClass]="{'modal-opened': selectedCategory !== ''}">
            <!-- <mat-button-toggle-group id='full-nav' class="category-tab-group" name="fontStyle" aria-label="Font Style">
                <div *ngFor="let card of cardCategories; index as index" class="category-card-styling"
                    [ngClass]="{'selected-tab': card.selected}" routerLink='/analysis'>
                    <mat-card class="example-card" (click)="selectedCategoryTab(index, card.category)"
                        [ngClass]="{'selected-tab-card': card.selected}">
                        <mat-card-header>
                            <mat-card-title>{{card.header}}</mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
            </mat-button-toggle-group>
            <mat-button-toggle-group class="sub-tab-group">
                <div *ngFor="let card of cards; index as index">
                    <div class="sub-card-styling" [ngClass]="{'selected-visual': card.selected}"
                        *ngIf="card.selectedCategory" [routerLink]="card.route">
                        <mat-card class="sub-card" (click)="selectedVisualTab(card.header)">
                            <mat-card-header>
                                <mat-card-title>{{card.header}}</mat-card-title>
                            </mat-card-header>
                            <img mat-card-image src={{card.thumbnail}} alt="Visual Thumbnail">
                            <mat-card-content>
                                <p>
                                    {{card.content}}
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </mat-button-toggle-group> -->
            <div class="form-container">
                <form [formGroup]="filteringCheckboxes" class="form-styling">
                    <div style="display: flex">
                        <div *ngFor="let category of categoryList;"
                            style="margin-right: 25px; border-radius: 6px; background-color: #245D70; color: #ffffff; padding: 6px 12px">
                            <mat-checkbox formControlName="{{category}}">{{category}}
                            </mat-checkbox>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <div *ngIf="filteringCheckboxes.controls.Critical.value">
                    <div style="display: flex; padding-top: 20px">
                        <div class="purple-font" style="line-height: 30px; min-width: 200px; font-size: 20px;">
                            Critical Care Analysis
                        </div>
                        <div style="line-height: 30px; border-top: 2px solid black; width: 100%; margin-top: 15px;">
                        </div>
                    </div>
                    <div style="display: flex; flex-wrap: wrap; margin-left: 50px">
                        <div *ngFor="let card of cards; index as index">
                            <div class="sub-card-styling"
                                [ngClass]="{'selected-visual': card.selected, 'opacity-styling': selectedCategory !== '' && !card.selected}"
                                *ngIf="filteringCheckboxes.controls[card.category].value && card.category === 'Critical'"
                                style="margin-right: 20px">
                                <mat-card class="sub-card"
                                    (click)="selectedVisualTab(card.header, card.selected, $event, index); openDialog(card.header, card.category, index)">
                                    <mat-card-header>
                                        <mat-card-title>{{card.header}}</mat-card-title>
                                    </mat-card-header>
                                    <img mat-card-image src={{card.thumbnail}} alt="Visual Thumbnail">
                                    <mat-card-content>
                                        <p>
                                            {{card.content}}
                                        </p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="filteringCheckboxes.controls.Regional.value">
                <div style="display: flex; padding-top: 20px">
                    <div class="purple-font" style="line-height: 30px; min-width: 200px; font-size: 20px">
                        Regional Analysis
                    </div>
                    <div style="line-height: 30px; border-top: 2px solid black; width: 100%; margin-top: 15px;">
                    </div>
                </div>
                <div style="display: flex; flex-wrap: wrap; margin-left: 50px">
                    <div *ngFor="let card of cards; index as index">
                        <div class="sub-card-styling"
                            [ngClass]="{'selected-visual': card.selected, 'opacity-styling': selectedCategory !== '' && !card.selected}"
                            *ngIf="filteringCheckboxes.controls[card.category].value && card.category === 'Regional'"
                            style="margin-right: 20px">
                            <mat-card class="sub-card"
                                (click)="selectedVisualTab(card.header, card.selected, $event, index); openDialog(card.header, card.category, index)">
                                <mat-card-header>
                                    <mat-card-title>{{card.header}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src={{card.thumbnail}} alt="Visual Thumbnail">
                                <mat-card-content>
                                    <p>
                                        {{card.content}}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="filteringCheckboxes.controls.Testing.value">
                <div style="display: flex; padding-top: 20px">
                    <div class="purple-font" style="line-height: 30px; min-width: 200px; font-size: 20px">
                        Testing Analysis
                    </div>
                    <div style="line-height: 30px; border-top: 2px solid black; width: 100%; margin-top: 15px;">
                    </div>
                </div>
                <div style="display: flex; flex-wrap: wrap; margin-left: 50px">
                    <div *ngFor="let card of cards; index as index">
                        <div class="sub-card-styling"
                            [ngClass]="{'selected-visual': card.selected, 'opacity-styling': selectedCategory !== '' && !card.selected}"
                            *ngIf="filteringCheckboxes.controls[card.category].value && card.category === 'Testing'"
                            style="margin-right: 20px">
                            <mat-card class="sub-card"
                                (click)="selectedVisualTab(card.header, card.selected, $event, index); openDialog(card.header, card.category, index)">
                                <mat-card-header>
                                    <mat-card-title>{{card.header}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src={{card.thumbnail}} alt="Visual Thumbnail">
                                <mat-card-content>
                                    <p>
                                        {{card.content}}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id='mobile-nav' *ngIf='!is_full'>
    <div class="form-container">
        <form [formGroup]="filteringCheckboxes" class="form-styling">
            <div class="inner-form-styling">
                <div *ngFor="let category of categoryList;"
                    style="border-radius: 6px; background-color: #245D70; color: #ffffff; padding: 6px 12px">
                    <mat-checkbox formControlName="{{category}}">{{category}}
                    </mat-checkbox>
                </div>
            </div>
        </form>
    </div>

    <div>
        <div *ngIf="filteringCheckboxes.controls.Critical.value"
            style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); padding-bottom: 25px;">
            <div style="display: flex; margin-top: 15px">
                <div style="border-top: 1px solid black; width: 100%; margin-top: 30px"></div>
                <div class="purple-font"
                    style="min-width: 180px; text-align: center; padding-top: 20px; padding-bottom: 10px; font-weight: bold">
                    Critical Care Analysis</div>
                <div style="border-top: 1px solid black; width: 100%; margin-top: 30px"></div>
            </div>
            <div style="display: flex; flex-wrap: wrap">
                <div *ngFor="let card of cards; index as index" style="width: 100%">
                    <div [ngClass]="{'selected-background': card.selected}">
                        <div class="sub-card-styling mobile-sub-card-styling"
                            [ngClass]="{'selected-visual': card.selected, 'opacity-styling': selectedCategory !== '' && !card.selected}"
                            *ngIf="filteringCheckboxes.controls[card.category].value && card.category === 'Critical'"
                            style="margin-right: 20px">
                            <mat-card class="sub-card"
                                (click)="selectedVisualTab(card.header, card.selected, $event, index)">
                                <mat-card-header>
                                    <mat-card-title>{{card.header}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src={{card.thumbnail}} alt="Visual Thumbnail">
                                <mat-card-content>
                                    <p>
                                        {{card.content}}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <app-common-mobile-visual *ngIf="card.selected && card.category === 'Critical'"
                            [visualName]="card.header"></app-common-mobile-visual>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="filteringCheckboxes.controls.Regional.value"
            style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); padding-bottom: 25px;">
            <div style="display: flex; margin-top: 15px;">
                <div style="border-top: 1px solid black; width: 100%; margin-top: 30px"></div>
                <div class="purple-font"
                    style="min-width: 180px; text-align: center; padding-top: 20px; padding-bottom: 10px; font-weight: bold">
                    Regional Analysis</div>
                <div style="border-top: 1px solid black; width: 100%; margin-top: 30px"></div>
            </div>
            <div style="display: flex; flex-wrap: wrap">
                <div *ngFor="let card of cards; index as index" style="width: 100%">
                    <div [ngClass]="{'selected-background': card.selected}">
                        <div class="sub-card-styling mobile-sub-card-styling"
                            [ngClass]="{'selected-visual': card.selected, 'opacity-styling': selectedCategory !== '' && !card.selected}"
                            *ngIf="filteringCheckboxes.controls[card.category].value && card.category === 'Regional'"
                            style="margin-right: 20px">
                            <mat-card class="sub-card"
                                (click)="selectedVisualTab(card.header, card.selected, $event, index)">
                                <mat-card-header>
                                    <mat-card-title>{{card.header}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src={{card.thumbnail}} alt="Visual Thumbnail">
                                <mat-card-content>
                                    <p>
                                        {{card.content}}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <app-common-mobile-visual *ngIf="card.selected && card.category === 'Regional'"
                            [visualName]="card.header"></app-common-mobile-visual>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="filteringCheckboxes.controls.Testing.value"
            style="box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); padding-bottom: 25px;">
            <div style="display: flex; margin-top: 15px;">
                <div style="border-top: 1px solid black; width: 100%; margin-top: 30px"></div>
                <div class="purple-font"
                    style="min-width: 180px; text-align: center; padding-top: 20px; padding-bottom: 10px; font-weight: bold">
                    Testing Analysis</div>
                <div style="border-top: 1px solid black; width: 100%; margin-top: 30px"></div>
            </div>
            <div style="display: flex; flex-wrap: wrap">
                <div *ngFor="let card of cards; index as index" style="width: 100%">
                    <div [ngClass]="{'selected-background': card.selected}">
                        <div class="sub-card-styling mobile-sub-card-styling"
                            [ngClass]="{'selected-visual': card.selected, 'opacity-styling': selectedCategory !== '' && !card.selected}"
                            *ngIf="filteringCheckboxes.controls[card.category].value && card.category === 'Testing'"
                            style="margin-right: 20px">
                            <mat-card class="sub-card"
                                (click)="selectedVisualTab(card.header, card.selected, $event, index);">
                                <mat-card-header>
                                    <mat-card-title>{{card.header}}</mat-card-title>
                                </mat-card-header>
                                <img mat-card-image src={{card.thumbnail}} alt="Visual Thumbnail">
                                <mat-card-content>
                                    <p>
                                        {{card.content}}
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <app-common-mobile-visual *ngIf="card.selected && card.category === 'Testing'"
                            [visualName]="card.header"></app-common-mobile-visual>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <button id='mobile-nav-btn' mat-button [routerLink]="['./critical']">Critical Care Analysis</button>
    <button id='mobile-nav-btn' mat-button [routerLink]="['./regional']">Regional Analysis</button>
    <button id='mobile-nav-btn' mat-button [routerLink]="['./testing']">Testing Analysis</button>
    <button id='mobile-nav-btn' mat-button [routerLink]="['./capacity']">Capacity Analysis</button>
    <router-outlet></router-outlet> -->
</div>

<hr>