<div id='column-layout'>
    <div id='column-detail'>
        <h3 class="column-title">Critical Care Analysis: Ontario</h3>
         <div id='key-takeaway'><p>Early in an outbreak, the number of cases and deaths can grow exponentially. That means that the numbers stack up rapidly. The visualizations below help us determine when expoential growth has stopped.</p>
        <p>The COVID-19 Confirmed Cases Growth Explorer plots cumulative cases todate across days after reported 100 cases. Selected provinces, Canada, and selected countries are shown for comparison. It can be seen that South Korea effectively flattened their curve after day 16. BC is demonstrating a flattening curve. In Ontario, we still do not see this flattening. </p>
        <p>In the second graph, the cumulative case todate are plotted against the number of new cases in the last 7 days. In the bottom right, South Korea can be seen which has reduced its new cases recently and stopped exponential growth. Ontario seems to be on a steady growth trajectory still.</p>
        </div>
    <div id='column-main'>
        <div id="vizContainerCritical" style="border-style: solid; border-width: 2px; border-color: gray;"></div>
    </div>
</div>
