#column-layout {
    @media screen and (min-width: 1024px) {
        display:flex;
    }
}

#column-detail {
    //padding:20px;
    background-color: #FFFFFF;
    @media screen and (min-width: 1024px) {
        flex-shrink: 0;
        width: 250px !important;
    }
}

#column-main {
    flex-grow: 1;
    @media screen and (min-width: 1024px) {
      margin-top:25px;
    }
}

#capacity-graph-row {
    @media screen and (min-width: 1024px) {
        display:flex;
    }
}

#capacity-graph {
    width:100%;
    @media screen and (min-width: 1024px) {
        width:50%;
        height:50%;
    }

}

#key-takeaway{
    font-family: 'Lato', sans-serif;
    color: #434343;
}

#vizContainer{
  @media screen and (min-width: 1024px) {
      height: 650px;
  }
}

#full-nav {
    width: 100%;
}

#mobile-nav-btn {
    width:100%;
    margin:1px
}