<div class='thermometer'>
  <h4>Community Risk Level</h4>
  <div class='row'>
    <div class='thermometerred'>&nbsp;</div>
    <div style='margin-left: 10px;'>High</div>
  </div>
  <div class='row'>
    <div class='thermometerorange'>&nbsp;</div>
    <div style='margin-left: 10px;'>Medium</div>
  </div>
  <div class='row'>
    <div class='thermometeryellow'>&nbsp;</div>
    <div style='margin-left: 10px;'>Low</div>
  </div>
  <div class='row'>
    <div class='thermometergreen'>&nbsp;</div>
    <div style='margin-left: 10px;'>Very Low</div>
  </div>
</div>
