<div style="padding-bottom: 30px">
    <div style="display: flex">
        <div class="header-styling">{{visualName}}</div>
        <div class="collapse-text" *ngIf="toggleTextFlag" (click)="toggleText()">Collapse Description Below
        </div>
        <div class="collapse-text" style="padding-bottom: 20px" *ngIf="!toggleTextFlag" (click)="toggleText()">
            Expand Description</div>
    </div>
    <div class="text-styling" [innerHTML]="topText" *ngIf="bottomText !== 'NaN' && toggleTextFlag"></div>
    <div *ngIf="type === 'Plotly'">
        <app-plot class="plot-styling" [analysis]="true" [graph_data]="vizUrl"></app-plot>
    </div>
    <div #vizContainerDesktop [ngClass]="{'tableau-styling' : type !== 'Plotly'}"></div>
    <div *ngIf="visualName === 'Capacity Analysis'">
        <iframe id="example1" src="https://pechlilab.shinyapps.io/output/"
            style="border: none; width: 100%; height: 1300px" frameborder="0"></iframe>
        <!-- <img style="width:100%;"src='assets/img/Figure4_Italy_Waiting.jpg'> -->
    </div>
    <div class="text-styling" style="padding-top: 20px" *ngIf="bottomText !== 'NaN'" [innerHTML]="bottomText"></div>
</div>